include ../../mixins

+article('Traseul 2')
  .lang.lang-ro
    +section('Traseul 2')

      h2 Traseul 2: Tulcea –  Canalul Litcov – Crişan – Tulcea
      p.text-indent
        | Pornind din Tulcea, acest traseu urmează#{' '}
        strong Braţul Tulcea#{' '}
        | până la#{' '}
        strong Ceatalul Sf. Gheorghe,#{' '}
        | locul unde Braţul Tulcea se bifurcă în braţul (canalul) Sulina pe partea stângă şi Braţul Sf. Gheorghe pe partea dreaptă, parte pe care continuă şi traseul până la confluenţa cu Canalul Litcov, lăsând în urmă localităţile Ilganii de Jos, Nufăru şi Victoria. În dreptul localităţii Victoria se intră pe Canalul Litcov, canal realizat în perioada 1929-1935 prin reprofilarea unor gârle naturale existente în zonă şi a purtat denumirea de Canalul Regele Carol al ll-lea. Canalul străbate de la vest la est spaţiul dintre braţele Sulina şi Sf. Gheorghe, constituind principala sursă de alimentare cu apă a#{' '}
        strong complexului lacustru Gorgova – Uzlina.#{' '}
        | După ce străbate o zonă silvică de circa 10 km, plantată de o parte şi de alta a canalului cu specii de plop, canalul trece pe lângă zonele îndiguite ale#{' '}
        strong amenajării piscicole Litcov,#{' '}
        | pe partea stângă, şi ale#{' '}
        strong amenajării piscicole Carasuhat#{' '}
        | pe partea dreaptă, canalul continuă printre cele mai importante lacuri ale complexului: Gorgova, Isac, Uzlina, Potcoava, lacuri care nu pot fi văzute din mijlocul de transport dar, se fac prezente prin grupurile de păsări, pelicani, lebede, cormorani care zboară prin zonă folosind lacurile pentru hrănire şi adăpost. În apropiere este şi un grup de lacuri, Babinţii Mari, Babinţii Mici, Potcoava, care formează#{' '}
        strong Zona Strict Protejată Lacul Potcoava,#{' '}
        | loc de cuibărit pentru stârcul pitic (
        em Ixobrychus minutus
        | ), buhaiul de baltă (
        em Botaurus stellaris
        | ), raţa pestriţă (
        em Anas strepera
        | ), raţa cu ciuf (
        em Netta rufina
        | ), corcodelul cu gât roşu (
        em Podiceps ruficollis
        | ), vulturul codalb (Haliaetus albicilla) etc., loc de hrănire pentru fundac, corcodel, cormoran mic, stârc, egretă, raţă lingurar, şoim dunărean etc., precum şi refugiu pentru vidre, nurci, hermeline şi mistreţi. Fauna piscicolă este reprezentată de o serie de specii periclitate, caracudă, lin, etc. Din Canalul Litcov se intră pe#{' '}
        strong Canalul Crişan#{' '}
        | care se desprinde din  Braţul Sulina mila 14, în extremitatea din amonte a localităţii Crişan. În Crişan, pe malul stâng al Braţului Sulina funcţionează#{' '}
        strong Centrul de Informare şi Documentare Crişan#{' '}
        | în care vizitatorii pot afla, prin exponate, vizionare de filme video, diapozitive sau prin consultarea broşurilor, pliantelor, lucrărilor de specialitate existente aici, argumentele pentru care Delta Dunării este şi trebuie să fie protejată şi pentru care a primit statutul de Rezervaţie a Biosferei. În apropiere de Centrul de informare şi documentare Crişan, pe Canalul Sulina, lângă cherhanaua Crişan (Mm 13 mal stâng) a fost refăcut  în 1989  obeliscul  cu inscripţia originală pe o placă de cupru –
        em "Cette collone a été élevée en l΄honneur de Sa Majesté  Charles I-er, roi de la Roumanie, qui le 5/17 mai 1894 a daigne inaugurer la coupure  du 8-e au 18 milliaire"#{' '}
        | (adică a inaugurat tăierea marelui meandru al braţului Sulina pentru navigaţie maritimă). Ultima parte a traseului, întoarcerea la Tulcea, se desfăşoară pe Canalul Sulina, aşa cum este descris la prezentarea traseului 1. Lungimea traseului este de circa 90 km, din care circa 54 km se parcurg pe canalul Sulina. Acest traseu se poate parcurge în circa 4 ore cu o ambarcaţiune cu motor, respectând restricţiile de viteză stabilite pentru Rezervaţie, sau în circa 16-17 ore cu o ambarcaţiune nemotorizată ("la rame").
      +img('img/route2_1.jpg')
  .lang.lang-en
    +section('Route 2')
      h2 Route 2: Tulcea –  Litcov Channel – Crişan – Tulcea
      p
        | Starting from Tulcea, this route follows#{' '}
        strong Tulcea Arm#{' '}
        | to Ceatalul St. Gheorghe, the place where#{' '}
        strong Tulcea Arm#{' '}
        | splits into Sulina Canal on the left side and St. Gheorghe Arm on the right, arm follows also by the route, up to the confluence with the#{' '}
        strong Litcov Canal,#{' '}
        | leaving behind Ilganii de Jos, Nufăru and Victoria villages. In front of Victoria village, we enter on Litcov Canal, built during 1929-1935, by modifying some existing natural streams in the area and named after King Carol the 2nd. It crosses from West to East the space between Sulina and St. Gheorghe arms, and constitutes the main source of water supply for the#{' '}
        strong lacustrian complex Gorgova - Uzlina.#{' '}
        | After crossing a forestry area of about 10 km, with species of poplar planted on both sides, the channel passes near embanked areas of the#{' '}
        strong Litcov fishing pond#{' '}
        | on the left side, and of the#{' '}
        strong Carasuhat agricultural polder#{' '}
        | on the right side. The channel continues its route through the most important lakes of the complex: Gorgova, Isac, Uzlina, Potcoava, which cannot be seen from the boat. However, groups of pelicans, swans, cormorants can be observed flying through the area, using the lakes for feeding and shelter. Nearby there is a group of lakes: Babinţii Mari, Babinţii Mici, Potcoava, which form the#{' '}
        strong Strictly Protected Area Potcoava Lake, #{' '}
        | nesting site for: Little Bittern (
        em Ixobrychus minutus
        | ), Bittern (
        em Botaurus stellaris
        | ), Gadwall (
        em Anas strepera
        | ), Red-crested Pochard (
        em Netta Rufina
        | ), Red-necked Grebe (
        em Podiceps ruficollis
        | ), White-tailed Eagle (
        em Haliaetus albicilla
        | ), etc., and also a  feeding place for the diver, grebe, Pygmy Cormorant, heron, egret, Shoveler, Saker Falcon etc. and refuge for otters, minks, ermines and wild boars. The fish fauna is represented by a number of endangered species, Crucian Carp, Tench, etc.
        br
        | From the Litcov Channel we enter into the#{' '}
        strong Crişan Channel#{' '}
        | that detaches from Sulina Arm mile 14, on the upstream extremity of the Crişan village. In Crişan village, on the left bank of Sulina Arm, you can find#{' '}
        strong Crişan Information and Documentation Centre,#{' '}
        | where visitors can learn, through exhibits, videos, slideshows or from the existing leaflets, brochures and research studies, the reasons for which the Danube Delta received the status of a Biosphere Reserve and why it must be protected. Near Crişan Information and Documentation Centre, on Sulina Canal, next to Crişan Fishery (Mm 13 - left bank) an obelisk was restored in 1989 with the original inscription on a copper plate –
        em "Cette collone a été élevée en l΄honneur de Sa Majesté  Charles I-er, roi de la Roumanie, qui le 5/17 mai 1894 a daigne inaugurer la coupure du 8-e au 18 milliaire"
        | (inauguration of the cutting of the big meander on Sulina arm for maritime navigation). The last part of the route, returning to Tulcea, is done on Sulina Channel, as described at route 1. The route length is about 90 km, from which around 54 km are done on Sulina Canal. This route can be covered in around 4 hours, by a motor boat, following the speed regulations, established for the reserve, or in about 16-17 hours, by  non-motorized craft (rowing).
      +img('img/route2_1.jpg')
