include ../../mixins

+article('Traseul 11')

  .lang.lang-ro
    +section('Traseul 11')
      h2 Traseul 11: Crişan – Canalul Magearu – Sulina – Crişan  
      p.text-indent
        | De la Crişan, traseul continuă pe Dunărea Veche (bucla aval) până la intrarea pe#{' '}
        strong Canalul Magearu,#{' '}
        | canal care reprezintă şi o variantă de acces spre localitatea#{' '}
        strong Letea. #{' '}
        | Canalul Magearu este atractiv datorită peisajului generos constând în zone cu nuferi, margini străjuite de stuf şi multitudinea de păsări care pot fi văzute în zbor sau pe apă, datorită vecinătăţii apropiate a#{' '}
        strong Zonei Strict Protejate "Lacul Răducu".#{' '}
        | La capătul Canalului Magearu se află localitatea Letea, una din cele trei localităţi (#{' '}
        strong Letea, C.A. Rosetti şi Sfiştofca#{' '}
        | ) care s-au dezvoltat pe grindurile nisipoase care au constituit prima barieră de închidere  fostului liman fluviatil al Dunării  în urmă cu circa 12.000 de ani. Din Letea se poate efectua, opţional, o drumeţie descrisă la traseul D1 pentru vizitarea pădurii de stejar de pe grindul Letea de tip#{' '}
        em hasmac.#{' '}
        | După drumeţie, traseul continuă pe#{' '}
        strong Canalul Magearu – Cardon#{' '}
        | şi apoi pe Canalul Sulina – Cardon, la Sulina (cu vizitarea opţională a oraşului) şi apoi pe Canalul Sulina până la Crişan.#{' '}
      p.text-indent
        | Lungimea traseului este de circa 55 km care se poate parcurge în circa 4 ore cu o ambarcaţiune cu motor, respectând restricţiile de viteză stabilite pentru rezervaţie, sau în circa 10-11 ore cu o ambarcaţiune nemotorizată ("la rame").#{' '}

  .lang.lang-en
    +section('Route 11')
      h2 Route 11: Crişan- Magearu Channel – Sulina – Crişan
      p
        | From Crişan, the route continues on the Old Danube (downstream loop) to the entry in#{' '}
        strong Magearu Channel,#{' '}
        | representing an alternative channel of access towards the#{' '}
        strong Letea#{' '}
        | village. Magearu Channel is attractive due to generous landscapes areas with an abundance of water lilies, reeds that hide a multitude of birds that can be seen in flight or on the water, due to the close proximity of#{' '}
        strong Strictly Protected Area Răducu Lake.#{' '}
        | At the end of the Magearu Channel there is the Letea village, one of three villages (#{' '}
        strong Letea, C.A. Rosetti and Sfiştofca#{' '}
        | ) that were developed on sand banks which constituted the first closing barrier of the former Danube river lagoon, 12,000 years ago. From Letea you can have, optional, a hike described in D1 terrestrial route, for visiting the oak forest situated on the Letea levee. After the hiking, the trail continues on#{' '}
        strong Magearu – Cardon Channel#{' '}
        | and then Sulina – Cardon Channel, to Sulina (with optional visit of the city), and then on Sulina Canal up to Crişan.#{' '}
      p
        | The route length is about 55 km, and you can cover it in approximately 4 hours by a motor boat, following the speed restrictions set for the reserve, or about 10-11 hours with a non-motorized craft (rowing).#{' '}
