include ../../mixins

+article('Traseul 14')
  .lang.lang-ro
    +section('Traseul 14')
      h2 Traseul 14: Sulina – Canalul Busurca – Lacul Roşu – Lacul Erenciuc – Sf. Gheorghe – Canalul Cordon Litoral – Sulina
      p.text-indent
        | Traseul oferă o alternativă de recreere pentru cei veniţi în oraşul Sulina pentru cura heliomarină pe plaja din apropierea oraşului. Pornind din Sulina traseul continuă pe#{' '}
        strong Canalul Busurca,#{' '}
        | parcurgând canalele şi lacurile complexului Roşu-Puiu. În timpul excursiei se pot vizita#{' '}
        strong cherhanaua Roşuleţ#{' '}
        | şi complexul turistic de la Roşu, cunoscut ca#{' '}
        strong "Satul de Vacanţă Roşu".#{' '}
        | Continuând traseul, se poate observa, la circa 100 de metri de satul de vacanţă, crucea de lemn ridicată în memoria sculptorului Paul Zipper şi a pescarului Gheorghe Timoftei, dispăruţi în noaptea dintre 25-26 aprilie 1966 în apele Dunării. Crucea a fost sculptată de un prieten al dispăruţilor, Fane Georgescu, supravieţuitor al accidentului. Pe timpul excursiei, turiştii pot opri şi participa la partide de pescuit în unul din lacurile amintite. În drumul spre Sf. Gheorghe, traseul se continuă pe#{' '}
        strong Canalul Mocansca,#{' '}
        | până la#{' '}
        strong Lacul  Erenciuc#{' '}
        | pe care îl traversează pentru a ajunge la Braţul Sf. Gheorghe, pe partea dreaptă se găseşte#{' '}
        strong zona strict protejată Pădurea Caraorman.#{' '}
        | De o parte şi de alta a canalului de acces înBraţul Sf. Gheorghe se află#{' '}
        strong Zona Strict Protejată#{' '}
        strong Arinişul Erenciuc,#{' '}
        | singura zonă din deltă în care arinul negru se dezvoltă compact. În ariniş cuibăreşte vulturul codalb care găseşte aici condiţii optime de adăpost. Continuând pe#{' '}
        strong Braţul Sf. Gheorghe#{' '}
        | se ajunge în localitatea cu acelaşi nume aflată la vărsarea Braţului Sf. Gheorghe în Marea Neagră. Aici se pot petrece câteva zile în una din pensiunile agroturistice. Traseul de întoarcere se poate face pe#{' '}
        strong Canalul Tătaru,#{' '}
        strong Canalul Cordon Litoral, Canalul Busurca,#{' '}
        strong Sulina.#{' '}
        | Lungimea traseului este de circa 100 km care se poate parcurge în circa 4 ore cu o ambarcaţiune cu motor, respectând restricţiile de viteză stabilite pentru rezervaţie, sau în circa 19-20 ore cu o ambarcaţiune nemotorizată ("la rame").#{' '}
      +img('img/MG_8599.jpg')

  .lang.lang-en
    +section('Route 14')
      h2 Route 14: Sulina – Busurca Channel – Roşu Lake – Erenciuc Lake – St. Gheorghe – Sea Coast Belt Channel – Sulina
      p
        | For recreation purposes, the route provides an alternative for those who came for a helio-marine cure on Sulina beach, near the city. Starting from Sulina, the route continues on#{' '}
        strong Busurca Channel#{' '}
        | through the channels and lakes from Roşu-Puiu complex. During the excursion you can visit#{' '}
        strong Roşuleţ fishery#{' '}
        | , the tourist complex from Roşu, known as "#{' '}
        strong Roşu Holiday Village#{' '}
        | ". Following the route we can observe at about 100 meters from the holiday village, the wooden cross erected in memory of sculptor Paul Zipper and fisherman Gheorghe Timofte, drowned during the night of 25 to 26 April 1966 in the Danube’s water. The cross was carved by a friend of the disappeared, Fane Georgescu, a survivor of the accident. During the tour, tourists can stop and organize fishing contest in one of the lakes mentioned above. On the way towards St. Gheorghe, the route follows the#{' '}
        strong Mocansca Channel#{' '}
        | to#{' '}
        strong Erenciuc Lake,#{' '}
        | crossing itto reach St. Gheorghe Arm, on the right side there is the strictly protected area Caraorman Forest. On both sides of the access channel to St. Gheorghe Arm, there is the Strictly Protected Area Erenciuc Alder Forest, the only area in the delta, where the Black Alder grows compactly. This is the nesting place of White-tailed Eagle, because it finds here the best shelter conditions. Continuing on St. Gheorghe Arm, tourists arrive in the village with the same name, located at the flowing mouth of St. Gheorghe Arm in the Black Sea. Here you can spend several days in one of the agro-pensions in the area. The return route can follow:#{' '}
        strong Tătaru Channel, Sea Coast Belt Channel, Busurca Channel, Sulina.#{' '}
        | The route length is about 100 km can covered in approximately 4 hours on a motor boat, following the speed restrictions established for the reserve, or about 19 to 20 hours with a non-motorized boat (rowing).#{' '}
      +img('img/MG_8599.jpg')
