include ../../mixins

+article('Traseul 4')
  
  .lang.lang-ro
    +section('Traseul 4')
      h2 Traseul 4: Tulcea (Lacul Câşla) – Gârla Somova – Mănăstirea Saon (lacul Telincea) – Tulcea 
      p.text-indent
        | Traseul este singurul traseu turistic aflat în amonte de Tulcea, în zona numită "Delta Superioară" şi are ca punct de plecare Lacul Câşla, aflat la numai 2 km de municipiul Tulcea, lângă#{' '}
        strong Complexul turistic "Europolis"#{' '}
        | şi parcurge Gârla Somova printre principalele lacuri ale#{' '}
        strong Complexului lacustru Somova-Parcheş (Somova, Babele, Morun, Parcheş),#{' '}
        | cu continuare pe Canalul Ivanov pentru o abatere scurtă spre Dunăre în dreptul Mm 47 (hotel – restaurant Dunărea). La capătul traseului, lângă Lacul Telincea, se află Zona Strict Protejată "Lacul Rotundu".
      p.text-indent
        | De la Lacul Telincea se poate vizita Mănăstirea Saon, după care drumul de întoarcere se poate face pe acelaşi traseu parcurs în sens invers sau poate fi combinat cu un parcurs rutier, de la Mănăstirea Saon pe DN 22b la Tulcea pe DN 22b. Lungimea traseului este de circa 62 km care se poate parcurge în circa 2-3 ore cu o ambarcaţiune cu motor, respectând restricţiile de viteză stabilite pentru rezervaţie, sau în circa 10-12 ore cu o ambarcaţiune nemotorizată ("la rame"). 
      +img('img/route4.jpg')
  .lang.lang-en
    +section('Route 4')
      h2 Route 4: Tulcea (Câşla Lake) – Gârla Somova (Somova Stream) – Saon Monastery (Telincea Lake) – Tulcea 
      p
        | The route is the only tourist route upstream from Tulcea, in the area called "Superior Delta", starting from Câşla lake, located only 2 km from the Tulcea city, near the#{' '}
        strong "Europolis" tourist complex,#{' '}
        | and travels through Somova Stream to the main lakes of the#{' '}
        strong lacustrian complex Somova-Parcheş#{' '}
        | (Somova, Babele, Morun, Parcheş), continues on Ivanov channel for a short detour towards the Danube Mm 47 (Dunărea hotel - restaurant). At the end of the route, near Telincea lake, you can find the#{' '}
        strong Strictly Protected Area Rotundu Lake.
      p
        | From Telincea lake you can visit the Saon Monastery, after which the return journey can be traveled on the same route in the opposite direction, or can be combined with a road journey, from Saon Monastery to Tulcea using DN 22b. The length of the route is around 62 km and it can be covered in about 2-3 hours by a motor boat, following the speed restrictions established for the reserve, or about 10-12 hours with a non-motorized craft (rowing).
      +img('img/route4.jpg')
      
