include ../../mixins

+article('Traseul 7')
  .lang.lang-ro
    +section('Traseul 7')
      h2 Traseul 7: Murighiol – Uzlina – Lacul Uzlina – Lacul Isac – Gârla Perivolovca – Murighiol
      p.text-indent
        | Localitatea Uzlina, din cadrul comunei Murighiol, are o poziţie excelentă în zona sudică a Deltei Dunării, pe Braţul Sf. Gheorghe şi a devenit în ultimii ani o aşezare cvasi-turistică, aici predominând casele de vacanţă, pensiunile şi hotelurile care oferă multe posibilităţi de cazare şi de recreere pentru turişti. La Uzlina se poate ajunge din Murighiol, Mahmudia, Tulcea sau din Sf. Gheorghe numai cu ambarcaţiuni.#{' '}
      p.text-indent
        | Din Uzlina, traseul continuă pe Canalul Uzlina până în#{' '}
        strong Lacul Uzlina,#{' '}
        | un lac foarte frumos unde se pot vedea adesea aglomerări mari de păsări de apă şi în special raţe, lişiţe, cormorani şi pelicani care datorită adâncimii din ce în ce mai mici a lacului găsesc aici condiţii foarte bune de hrănire sau de odihnă. Din Lacul Uzlina traseul trece prin#{' '}
        strong Lacul Isac#{' '}
        | şi apoi în#{' '}
        strong Canalul Perivolovca #{' '}
        | spre Braţul Sf. Gheorghe, unde se ajunge în dreptul km 52 pe una din meandrele tăiate prin lucrările de regularizare a Braţului Sf. Gheorghe. Traseul continuă pe Braţul Sf. Gheorghe spre amonte până la Murighiol. Lungimea traseului este de circa 40 km care se poate parcurge în circa 3-4 ore cu o ambarcaţiune cu motor, respectând restricţiile de viteză stabilite pentru Rezervaţie, sau în circa 8-9 ore cu o ambarcaţiune nemotorizată ("la rame").#{' '}
      +img('img/LC8T0058.jpg')

  .lang.lang-en
    +section('Route 7')
      h2 Route 7: Murighiol – Uzlina –Uzlina Lake –Isac Lake – Gârla Perivolovca – Murighiol
      p
        | The Uzlina village, near Murighiol town, has an excellent position in the South area of the Danube Delta, on St. Gheorghe Arm. In recent years the village has become a quasi-tourist, where holiday houses, hotels and hostels are predominant, offering many accommodations and recreational opportunities for tourists. Uzlina can be reached from Murighiol Mahmudia Tulcea or St. Gheorghe only by boat.#{' '}
      p
        | From Uzlina the trail continues to#{' '}
        strong Uzlina Lake#{' '}
        | , a beautiful lake where you can often see large clusters of water birds in particular ducks, coots, cormorants and pelicans that due to the small depth of the lake have good conditions for feeding or resting.#{' '}
      p
        | The route passes from Lake Uzlina through#{' '}
        strong Isac Lake#{' '}
        | and then#{' '}
        strong Perivolovca Channel#{' '}
        | on to St. Gheorghe arm, then it continues upstream to Murighiol. Length of the route is about 40 km you can covered in about 3-4 hours with a motor boat, following the speed restrictions established for the area, or in about 8-9 hours with a non-motorized craft (rowing).#{' '}
      +img('img/LC8T0058.jpg')
