include ../../mixins

+article('Traseul 13')

  .lang.lang-ro
    +section('Traseul 13')
      h2 Traseul 13: Sulina –  Canalul Cardon – Periprava – Golful Musura – Sulina  
      p.text-indent
        | Având drept punct de plecare oraşul#{' '}
        strong Sulina,#{' '}
        | aflat pe Braţul Sulina, traseul are ca obiectiv#{' '}
        strong localitatea Periprava,#{' '}
        | aflată pe Braţul Chilia. Din Sulina, traseul parcurge#{' '}
        strong Canalul Cardon#{' '}
        | şi după o scurtă oprire, opţională, în mica localitatea#{' '}
        strong Cardon, #{' '}
        | continuă până la canalul de legătură cu#{' '}
        strong Braţul Musura#{' '}
        | şi apoi pe Braţele#{' '}
        strong Musura, Stambulul Vechi şi Chilia #{' '}
        | până în localitatea#{' '}
        strong Periprava. #{' '}
        | Localităţile#{' '}
        strong Cardon#{' '}
        | şi#{' '}
        strong Periprava#{' '}
        | ca şi localităţile#{' '}
        strong Sfiştofca, C.A. Rosetti#{' '}
        | şi#{' '}
        strong Letea #{' '}
        | se află pe#{' '}
        strong Grindul Letea#{' '}
        | format din suprapunerea şi alăturarea sedimentelor ca urmare a acţiunii îndelungate a valurilor mării. O dovadă a acestui fenomen o reprezintă prezenţa cochiliilor de scoici specifice apelor sărate ale mării în nisipul de pe Grindul Letea. Peisajul grindului este spectaculos, cu dunele de nisip golaşe, uneori cu înălţimi de 10-12 m faţă de nivelul "O" al Mării Negre, în alternanţă cu depresiuni interdune. Dunele ce alternează cu depresiunile joase care, primăvara, sunt inundate, sunt acoperite cu vegetaţie (hasmace) pâlcuri de pădure care au format#{' '}
        strong Pădurea Letea #{' '}
        | (zonă strict protejată#{' '}
        strong ).#{' '}
        | În#{' '}
        strong Periprava#{' '}
        | se pot vizita satul şi biserica creştină de rit vechi, specifică etniei dominante în această localitate(ruşi-lipoveni). Ruşii lipoveni au venit în această zonă începând cu secolul al XVIII-lea ca urmare a persecuţiilor religioase. Lângă localitatea Periprava se află#{' '}
        strong Lacul Nebunu,#{' '}
        | unul din obiectivele turistice de vizitat din deltă.#{' '}
      p.text-indent
        | Drumul de întoarcere se face pe Braţele Chilia, Stambulul Vechi, Musura, canalul de legătură dintre Braţul Musura şi Canalul Cardon şi apoi din Canalul Cardon se poate intra prin#{' '}
        strong Golful (Baia) Musura #{' '}
        | de unde apoi se iese în acelaşi canal Cardon foarte aproape de podul pe sub care se intră în Canalul Sulina spre#{' '}
        strong  Sulina. #{' '}
        | Lungimea traseului este de circa 75 km care se poate parcurge în circa 5 ore cu o ambarcaţiune cu motor, respectând restricţiile de viteză stabilite pentru Rezervaţie, sau în circa 14-15 ore cu o ambarcaţiune nemotorizată ("la rame").#{' '}
      +img('img/route13.jpg')

  .lang.lang-en
    +section('Route 13')
      h2 Route 13: Sulina – Cardon Channel – Periprava – Musura Bay – Sulina  
      p
        | Having as a starting point#{' '}
        strong Sulina#{' '}
        | town, located on Sulina Arm, the route aims#{' '}
        strong Periprava village,#{' '}
        | located on Chilia Arm. From Sulina, the route goes through#{' '}
        strong Cardon Channel,#{' '}
        | and after a short optional stop in the small Cardon village, it continues to the connection of the channel with#{' '}
        strong Musura Arm,#{' '}
        | then on#{' '}
        strong Musura, Stambulul Vechi and Chilia Arms,#{' '}
        | up to#{' '}
        strong Periprava#{' '}
        | village.#{' '}
        strong Cardon#{' '}
        | and#{' '}
        strong Periprava#{' '}
        | localities, as well as#{' '}
        strong Sfiştofca, C.A. Rosetti and Letea villages,#{' '}
        | are located on#{' '}
        strong Letea Levee,#{' '}
        | formed by the overlapping and juxtaposition of sediments, as a result of prolonged action of sea waves.#{' '}
      p
        | A proof of this phenomenon is the presence of the mussel shells, specific for salted water, in the Letea levee sand dunes. The scenery is spectacular with bare sand dunes, often with heights of 10-12 m above the "0" level of the Black Sea, alternating with interdune depressions. The dunes alternating with the lowlands, that in the spring are flooded, are covered with vegetation (hasmace), forest clumps forming#{' '}
        strong Letea Forest#{' '}
        | (the strictly protected area). In#{' '}
        strong Periprava#{' '}
        | you can visit the village and the Old Rite Christian Church, the dominant ethnic group in this specific locality (Russian-Lipovan). Russians Lipovans came to this area since the 18th#{' '}
        | Century, because of religious persecution. Near Periprava village, there is#{' '}
        strong Nebunu Lake,#{' '}
        | one of the main attractions to visit in the delta.#{' '}
      p
        | The way back is by Chilia, Stambulul Vechi and Musura arms, the connecting channel between Musura Arm and Cardon Channel, then from Cardon Channel you can enter by#{' '}
        strong Musura Bay (Baia Musura),#{' '}
        | wherefrom you exit via the same Cardon Channel, very close to the bridge under which one enters into the Sulina Canal to#{' '}
        strong Sulina town.#{' '}
        | The route length is about 75 km you can covered in approximately 5 hours with a motor boat, following the speed restrictions set for the area, or about 14-15 hours with a non-motorized craft (rowing).#{' '}
      +img('img/route13.jpg')
