include ../../mixins

+article('Traseu 1')
  .lang.lang-ro
    +section('Traseu 1')
      
      h2 Traseul 1: Tulcea – Gârla Şontea – Mila 23 – Crişan – Tulcea 
      p.text-indent
        | Traseul are ca punct de plecare Tulcea, principala poartă de intrare în Delta Dunării. Părăsind peisajul portuar, traseul urmează#{' '}
        strong Braţul Tulcea,#{' '}
        | până în dreptul#{' '}
        strong Canalului Mila 35,#{' '}
        | şi continuă pe acest canal până la intersecţia cu#{' '}
        strong Gârla Şontea,#{' '}
        | continuă pe Gârla Şontea, apoi pe#{' '}
        strong Canalul Olguţa,#{' '}
        | intră în#{' '}
        strong Dunărea Veche#{' '}
        | şi continuă până în#{' '}
        strong Braţul Sulina-Crişan.#{' '}
        | Întoarcerea se face Braţul Sulina, traseul încheindu-se la Tulcea.
        | De-a lungul traseului turiştii au posibilitatea de a naviga pe "Canalul Mila 35" canal deschis în anul 1985 pentru scurtarea drumului spre amenajarea agricolă Pardina şi străjuit, pe ambele maluri, de vegetaţie forestieră specifică dominată de specii de salcie şi plopi. Trecerea pe acest canal poate prilejui observarea grupurilor de stârci (cenuşiu, galben, de noapte), ţigănuşi şi cormorani care trec în zbor din,#{' '} 
        strong colonia mixtă de păsări de la Lacul Purcelu#{' '}
        | situată nu departe în stânga canalului. Dealungul gârlelor Sireasa, Şontea şi Olguţa, peisajul cuprinde stufărişuri, sălcii, nuferi care adăpostesc numeroase specii de păsări. Nu departe de confluenţa dintre canalele Mila 35 şi Sireasa, atât pe partea stângă cât mai ales pe partea dreaptă pot fi observate unele lacuri mai mici delimitate de stufării şi încărcate cu nuferi şi păsări. Cele mai mari dintre acestea sunt Tătaru, Meşteru, Nebunu, Furtuna, Băclăneştii Mari şi Ligheanca care împreună cu gârlele de legătură, formează#{' '}
        strong complexul lacustru Şontea-Furtuna,#{' '}
        | unul din cele 7 complexe lacustre ale rezervaţiei. Traseul trece pe lângă#{' '}
        strong Zona Strict Protejată Lacul Nebunu,#{' '}
        | una din cele 20 zone cu protecţie integrală de pe teritoriul rezervaţiei. Chiar dacă lacul nu este accesibil vizitatorilor datorită acestui statut special, la intrare în lac este postat un panou pe  care se prezintă principalele sale caracteristici, iar o încetinire a mersului la trecere prin faţa întrării în lac se poate vedea o bună parte a lacului. Traseul trece în continuare pe lângă#{' '}
        strong Lacul Furtuna,#{' '}
        | aflat la sud de traseu şi care dacă nu poate fi văzut din mijlocul de transport utilizat totuşi pot fi văzute grupuri de pelicani, lebede şi cormorani care vin dinspre sau înspre lac. Până la Dunărea Veche, traseul trece pe lângă#{' '}
        strong Lacul Băclăneştii Mari,#{' '}
        | care oferă o privelişte interesantă şi poate prilejui, de asemenea, întâlnirea cu grupuri de pelicani, lebede, lişiţe şi corcodei, împreună cu vegetaţia specifică (stufării, nuferi, pâlcuri mici de sălcii, etc.).
        br
        strong Satul Mila 23,
        | următorul reper al traseului este un sat tipic pescăresc din Delta Dunării, aşezat pe partea dreaptă a Dunării Vechi. Supranumit şi Veneţia României, satul este renumit şi pentru faptul că este locul de naştere al marelui campion olimpic român la canotaj, Ivan Patzaichin. Înainte de a intra în Braţul Sulina, traseul trece pe lângă#{' '}
        strong Centrul de Documentare şi Educaţie Ecologică Crişan#{' '}
        | aflat pe malul stâng al braţului, vizavi de satul Crişan (cel mai lung sat din deltă, circa 10 km). Vizitarea Centrului de Documentare oferă prilejul unei informări utile asupra valorilor naturale şi culturale ale Rezervaţiei.
        | Ultima parte a traseului, întoarcerea la Tulcea, se face pe Canalul Sulina, cale navigabilă internaţională realizată prin lucrările de regularizare dispuse de Comisia Europeană a Dunării (CED) şi realizate în perioada 1858 – 1902. Parcurgerea acestui canal oferă vizitatorilor posibilitatea de a vedea Lacul Obretinul Mare, dar şi localităţile#{' '}
        strong Gorgova, Maliuc, Vulturu, Partizani şi Ilganii de Sus,#{' '}
        | altă dată sate cu o arhitectură specifică formată din case tradiţionale, predominând acoperişurile şi gardurile de stuf precum şi culorile alb şi albastru. Acum acest peisaj s-a schimbat destul de mult, arhitectura modernă făcându-şi loc uneori destul de agresiv şi total nepotrivit prin forme ce amintesc de alte locuri ale ţării, prin culori stridente sau prin soluţii constructive ce se îndepărtează de tradiţiile locale. Tulcea întâmpină vizitatorii cu
        strong Monumentul Independenţei de pe Colnicul Hora,#{' '}
        | ridicat pentru a comemora Războiul de independenţă faţă de dominaţia turcească (1877-1878).
        | Lungimea traseului este de circa 115 km, din care circa 47 km se parcurg pe canalul Sulina. Acest traseu se poate parcurge în circa 5 ore cu o ambarcaţiune cu motor, respectând restricţiile de viteză stabilite pentru rezervaţie, sau în circa 7-8 ore cu o ambarcaţiune nemotorizată ("la rame"). 
        | Acest traseu poate fi făcut şi pe#{' '}
        strong varianta: Tulcea – Gorgova – Mila 23 – Crişan – Tulcea,#{' '}
        | variantă prin care se ajunge în localitatea Mila 23 plecând din Tulcea şi continuând pe #{' '} 
        strong Braţul Tulcea şi pe Braţul (Canalul) Sulina#{' '}
        | până în dreptul localităţii#{' '}
        strong Gorgova,#{' '}
        | la Mila marină (Mm) 22, când se intră în complexul lacustru#{' '}
        strong Şontea – Furtuna#{' '}
        | trecând prin breşa realizată în digul fostei amenajări silvice Furtuna şi continuând pe canalul adiacent digului amenajării până la Mila 23, pe#{' '}
        strong Canalul Olguţa#{' '}
        | şi#{' '}
        strong Dunărea Veche.#{' '}
        | De la Mila 23, traseul continuă pe Dunărea Veche până la intersecţia cu#{' '}
        strong Canalul Sulina#{' '}
        | în dreptul localităţii#{' '}
        strong Crişan#{' '}
        | şi apoi drumul de întoarcere pe#{' '}
        strong Canalul Sulina#{' '}
        | până la Tulcea, similar celui descris la traseul 1.
        br
        | Lungimea traseului este de circa 92 km care se poate parcurge în circa 4 ore cu o ambarcaţiune cu motor, respectând restricţiile de viteză stabilite pentru rezervaţie, sau în circa 16-18 ore cu o ambarcaţiune nemotorizată ("la rame").
      +img('img/route1_2.jpg')
 
  .lang.lang-en
    +section('Route 1')
      h2 Route 1: Tulcea – Gârla Şontea (Şontea Stream)– Mila 23 – Crişan – Tulcea 
      p
        | The route starts from Tulcea, the main entrance gate in the Danube Delta. Leaving the harbor behind, the route follows#{' '}
        strong Tulcea Arm,#{' '}
        | until#{' '}
        strong Mila 35 Channel,#{' '}
        | and continues on this channel to the intersection with#{' '}
        strong Şontea Stream,#{' '}
        | continues on Şontea stream, then on Olguţa channel, enters in the Old Danube and continues up to#{' '}
        strong Sulina Arm-Crişan.#{' '}
        | The return is on Sulina arm, ending in Tulcea.
        | Along the route, tourists can navigate on "Mila 35" Channel, opened in 1985 for shortening the way to Pardina agricultural polder, guarded on the both banks by specific forest vegetation dominated by willow and poplar trees species. Passing on this channel, tourists can observe groups of Gray Herons, Squacco Herons, Night Herons, Glossy Ibis and Cormorants flying from the#{' '}
        strong mixed colony of birds at Purcelu Lake,#{' '}
        | situated not far, in the left side of the channel. Along Sireasa, Şontea and Olguţa streams, the landscape includes reeds, willows, water lilies, which host many species of birds. Not far from the junction of Mila 35 and Sireasa channels, both on the left side and especially on the right, smaller lakes delimited by reeds and filled with water lilies and birds can be seen. The biggest of these are: Tătaru, Meşteru, Nebunu, Furtuna, Băclăneştii Mari and Lighenca, which together with connecting streams, form#{' '}
        strong Şontea-Furtuna lacustrian complex,#{' '}
        | one of the seven lacustrian complexes of the reserve. The route passes close to the Strictly Protected Area Nebunu Lake, one of the 20 areas with full protection on the reserve territory. Even the lake is not accessible to visitors, due to its special status, a panel is posted at the entrance of the lake that presents its main characteristics, and a large part of the lake can be observed passing by the entrance, using a lower speed. The route passes further near#{' '}
        strong Furtuna Lake,#{' '}
        | located in the South of the route, and even if it cannot be seen from boat, groups of pelicans, swans and cormorants coming to or from the lake can still be observed. Till Old Danube, the route passes near#{' '}
        strong Băclăneştii Mari Lake,#{' '}
        | provides an interesting sight and on frequent occasions also to meet groups of pelicans, swans, coots and grebes together with specific vegetation (reeds, water lilies, small clumps of willows, etc.).
        br
        strong Mila 23 village,#{' '}
        | the next mark of the route, is a typical fishermen’s village in the Danube Delta, located on the right side of the Old Danube. Called "Romania’s Venice", the village is famous for being the birthplace of the great Romanian kayak-canoe olympic champion, Ivan Patzaichin. Before entering Sulina arm, the route passes by the#{' '}
        strong Center for Documentation and Environmental Education Crişan,#{' '}
        | located on the left side of the arm, opposite to the Crişan village (the longest village in the delta, about 10 km). Visiting the Documentation Centre provides useful information about the natural and cultural values of the reserve. The last part of the route, the return to Tulcea, is done on Sulina Canal, an international waterway achieved by the regularization and rectification works commissioned by the European Danube Commission and carried out during 1858-1902. The navigation on this canal offers visitors the opportunity to see the Obretinul Mare lake, as well as#{' '}
        strong Gorgova, Maliuc, Vulturu, Partizani and Ilganii de Sus#{' '}
        | villages, that once had a specific architecture including traditional houses with roofs and fences made of reed, colored in white and blue. Now, the landscape has changed a lot, with the modern architecture taking the place of the more traditional style, sometimes quite aggressive and inappropriate, by forms specific to the other parts of the country, by tacky or constructive solutions away from local traditions. #{' '}
        strong Tulcea#{' '}
        | welcomes visitors with the#{' '}
        strong Independence Monument, on the Hora hillock,#{' '}
        | built to commemorate the independence war from Turkish domination (1877-1878).
        br 
        | The route length is about 115 km, of which about 47 km on Sulina canal. This route may be traveled through in about 5 hours with a motor boat, following the speed restrictions established for the reserve, or about 7-8 hours with a non-motorized craft (rowing).
        | This tour can also be done on #{' '}
        strong Tulcea – Gorgova – Mila 23 – Crişan – Tulcea,#{' '}
        | which comes close to the Mila 23 area, starting from Tulcea and continuing on#{' '}
        strong Tulcea Arm and on Sulina Arm (Canal),#{' '}
        | up to the#{' '}
        strong Gorgova#{' '}
        | village, at the 22 maritime Mile, entering in#{' '}
        strong Şontea – Furtuna#{' '}
        | lacustrian complex, passing through the dam’s break in the former forestry polder Furtuna and continuing on the dam’s adjacent channel up to Mila 23, on#{' '}
        strong Olguţa Channel and Old Danube.#{' '}
        | From Mila 23, the route continues on Old Danube up to the intersection with#{' '}
        strong Sulina Canal,#{' '}
        | in front of#{' '}
        strong Crişan#{' '}
        | village and then on the way back to Tulcea on Sulina Canal, a similar route to that one described in the Route 1.
        br
        | The length of this route is about 92 km, which can be covered in about 4 hours on a motor boat, following the speed restrictions established for the reserve, or about 16-18 hours with a non-motorized craft (rowing).
      +img('img/route1_2.jpg')
      
