include ../../mixins

+article('Traseul 6')
  .lang.lang-ro
    +section('Traseul 6')
      h2 Traseul 6: Murighiol – Canalul Dunăvăţ – Canalul Cocoş – Canalul Mustaca – Canalul de Centură – Canalul Dranov – Murighiol
      p.text-indent
        | Traseul are ca punct de plecare localitatea Murighiol şi continuă pe#{' '}
        strong Braţul Sf. Gheorghe#{' '}
        | până în dreptul km 54 de unde continuă pe#{' '}
        strong Canalele Dunavăţ, Cocoş şi Mustaca #{' '}
        | până în#{' '}
        strong Canalul de Centură, #{' '}
        | apoi pe Canalul de Centură până în#{' '}
        strong Canalul Dranov #{' '}
        | şi în continuare până în#{' '}
        strong Braţul Sf. Gheorghe#{' '}
        | . Cea de-a doua parte a traseului înseamnă parcurgerea Braţului Sf. Gheorghe de la km 44 (confluenţa dintre Canalul Dranov şi Braţul Sf. Gheorghe) până la Murighiol. Parcurgerea traseului este o plimbare pe canale cu specificul acestora: zăvoaie de sălcii, stuf şi papură, porţiuni cu nuferi albi şi galbeni, ciulin de baltă şi foarte multe specii de păsări care străbat spaţiul dintre luciile de apă învecinate sau vânează în porţiunile cu apă de mică adâncime dealungul canalelor.#{' '}
      p.text-indent
        | Lungimea traseului este de circa 80 km care se poate parcurge în circa 3 ore cu o ambarcaţiune cu motor, respectând restricţiile de viteză stabilite pentru Rezervaţie, sau în circa 15-16 ore cu o ambarcaţiune nemotorizată ("la rame").#{' '}
      p.text-indent
        | Pentru facilitarea accesului vizitatorilor dinspre localităţile Plopu şi Sarinasuf traseul se prelungeşte pe Canalul de Centură cu circa 10 km spre#{' '}
        strong Canalul Lipoveni, #{' '}
        | iar pentru facilitarea accesului vizitatorilor spre Lacul Razim, traseul se prelungeşte pe Canalul Mustaca cu circa 9 km până în Lacul Razim, de unde se poate continua pe traseul 5 spre Gura Portiţei.#{' '}
      +img('img/LC8T5935.jpg')
  .lang.lang-en
    +section('Route 6')
      h2 Route 6: Murighiol- Dunavăţ Channel- Cocoş Channel - Mustaca Channel - Centura Channel - Dranov Channel - Murighiol Channel
      p
        | The route has Murighiol village as starting point, and continues on#{' '}
        strong St. Gheorghe Arm#{' '}
        | up to the 54 km where it continues on#{' '}
        strong Dunavăţ, Cocoş and Mustaca channels, up to Centura Channel, then on Centura Channel up to Dranov Channel, and to St. Gheorghe Arm.#{' '}
        | The second part of the route is upstream on the St. Gheorghe Arm, from km no. 44 (the confluence of the Dranov Channel and St. Gheorghe Arm) up to Murighiol. Traveling through this route is a ride on the channels, with their specificity: water meadows of willows, reeds and cat-tail, areas with White and Yellow Lilies, Water Chestnut and many species of birds which cross the space between the adjacent lakes water surfaces, or hunt in shallow waters along the channels.#{' '}
      p
        | The length of the route is about 80 km, and  can be completed in about three hours by a motor boat, respecting the speed limits imposed for the reserve, or about 15 to 16 hours by a non-motorized craft (rowing).#{' '}
      p
        | To facilitate visitors’ access from Plopu and Sarinasuf , the route extends on Centura Channel by about 10 km towards Lipoveni Channel;  and to facilitate visitors’ access to Razim Lake, the route extends on Mustaca Channel by about 9 km into Razim Lake, wherefrom they can continue traveling on route 5 to Gura Portitei.#{' '}
      +img('img/LC8T5935.jpg')
