include ../../mixins

+article('Traseiul 12')

  .lang.lang-ro
    +section('Traseul 12')
      h2 Traseul 12: Chilia Veche – Canalul Sulimanca – Lacul Matiţa – Canalul Rădăcinoasele – Chilia Veche
      p.text-indent
        | Pentru cei care au decis să rămână câteva zile în Chilia Veche sunt câteva variante de petrecere a timpului liber incluzând şi posibilitatea de a vizita principalele lacuri ale Complexului lacustru Matiţa – Merhei. Traseul porneşte din Chilia Veche şi urmează Braţul Chilia, continuând pe Braţul Cernovca, circa 15 km, dealungul limitei nordice a#{' '}
        strong Zonei Strict Protejate Roşca – Buhaiova, #{' '}
        | cea mai mare rezervaţie de pelicani din Europa, până la confluenţa cu#{' '}
        strong Canalul Sulimanca,#{' '}
        | prin care se intră în complex. Traseul urmăreşte Canalul Sulimanca pe lângă limita estică a rezervaţiei de pelicani şi pătrunde, succesiv, în Lacurile#{' '}
        strong Merheiul Mic, Merheiul Mare, Matiţa şi Babina. #{' '}
        | Ieşirea din complex se face prin nord – vestul Lacului Babina prin#{' '}
        strong Canalul Rădăcinoasele #{' '}
        | continuând pe#{' '}
        strong Canalul Pardina #{' '}
        | printre#{' '}
        strong Câmpul Chiliei, #{' '}
        | cea mai înaltă "câmpie" a Deltei Dunării şi#{' '}
        strong amenajarea agricolă Pardina, #{' '}
        | cea mai mare zonă îndiguită şi desecată din rezervaţie, până în Chilia Veche. Traseul şi zona au un pitoresc aparte datorită faptului că se ocoleşte cea mai mare colonie de pelicani din Europa şi există probabilitatea mare de a vedea stoluri de pelicani survolând zona, hrănindu-se sau odihnindu-se. Nu lipsesc nici celelalte componente ale unei zone umede de acest fel: vegetaţie specifică (nuferi albi şi galbeni, ciulin de baltă, stuf, papură, rogoz) dar şi o avifaună foarte bogată reprezentată de stârci, raţe, lişiţe, cormorani şi bine înţeles pelicani. Lungimea traseului este de circa 60 km care se poate parcurge în circa 4 ore cu o ambarcaţiune cu motor, respectând restricţiile de viteză stabilite pentru rezervaţie, sau în circa 12-13 ore cu o ambarcaţiune nemotorizată ("la rame").#{' '}

  .lang.lang-en
    +section('Route 12')
      h2 Route 12: Chilia Veche –Sulimanca Channel – Matiţa Lake –Rădăcinoasele Channel – Chilia Veche
      p
        | For those who decided to stay in ChiliaVeche a few days, there are several leisure activities options, including the opportunity to visit the main lakes of the Matiţa – Merhei lacustrian complex. The route starts from Chilia Veche and follows Chilia Arm, continuing on Cernovca Arm, about 15 km along the northern limit of the#{' '}
        strong Strictly Protected Area Roşca - Buhaiova,#{' '}
        | the largest pelicans reserve in Europe, up to the confluence with#{' '}
        strong Sulimanca Channel,#{' '}
        | the entry in the complex. The route follows Sulimanca Channel, near the eastern boundary of pelicans reserve, and goes successively through#{' '}
        strong Merheiul Mic and Merheiul Mare, Matiţa and Babina lakes.#{' '}
        | The exit from the complex is via the North - West of Babina Lake, continuing by#{' '}
        strong Rădăcinoasele Channel#{' '}
        | and on#{' '}
        strong Pardina Channel#{' '}
        | along#{' '}
        strong Câmpul Chiliei#{' '}
        | (Chiliei Field), among the highest "plains"in the Danube Delta,#{' '}
        strong and Pardina polder,#{' '}
        | the largest area dammed and drained in the reserve, up to Chilia Veche. The picturesque route has a particular aspect because it bypasses the largest colony of pelicans in Europe and you are likely to see large flocks of pelicans overflying the area, feeding or resting. There aren’t missing any other wetlands components: specific vegetation (White and Yellow Water Lily, Water Chestnut, Reed, Cattail, Sedge) and also a very rich avifauna of herons, ducks, coots, cormorants and pelicans. The route length is about 60 km, which can be covered in approximately 4 hours on a motor boat, following the speed restrictions established for the reserve, or about 12 to 13 hours with a non-motorized boat (rowing).#{' '}