include ../../mixins

+article('Traseul 8')

  .lang.lang-ro
    +section('Traseul 8')
      h2 Traseul 8: Murighiol – Uzlina – Canalul Litcov – Canalul Crişan – Lacul Puiu – Lacul Erenciuc – Murighiol
      p.text-indent
        | Acest traseu porneşte din Murighiol continuă pe Braţul Sf. Gheorghe până la Uzlina, traversează lacurile Uzlina şi Isac, continuă spre#{' '}
        strong Canalul Litcov, #{' '}
        | apoi spre#{' '}
        strong Canalul Crişan.#{' '}
        | Traseul continuă pe#{' '}
        strong  Canalul Caraorman, #{' '}
        | până în#{' '}
        strong Lacul Puiu, #{' '}
        | din care se iese prin#{' '}
        strong Canalul Mocanului (Mocansca). #{' '}
        | Lacul Puiu face parte din#{' '}
        strong Complexul Lacustru Roşu – Puiu#{' '}
        | , complex format în delta maritimă (delta formată în aval de grindurile fluvio-marine  cu dune de nisipuri Letea – Caraorman), care cuprinde Lacurile#{' '}
        strong Roşu, Roşuleţ, Puiuleţ,#{' '}
        | printre cele mai mari din complex, precum şi#{' '}
        strong Zona Strict Protejată "Vătafu – Lunguleţ".#{' '}
        | Pe Canalul Mocanului traseul continuă până în#{' '}
        strong Lacul Erenciuc#{' '}
        | lac format asemeni Lacului Belciug prin închiderea naturală a unor meandre ale braţului Sf. Gheorghe. Din Lacul Erenciuc traseul trece prin#{' '}
        strong Zona Strict Protejată "Arinişul Erenciuc" #{' '}
        | formată din pădurea de arini dezvoltată la intersecţia dintre Lacul Erenciuc şi Braţul Sf. Gheorghe, ajunge în Braţul Sf. Gheorghe la km 22 şi apoi continuă în amonte până la Murighiol. Traseul cuprinde o alternanţă de canale şi lacuri cu peisajul caracteristic acestora: vegetaţie palustră diversă, dominată de fauna înaripatelor. Lungimea traseului este de circa 80 km care se poate parcurge în circa 4 ore cu o ambarcaţiune cu motor, respectând restricţiile de viteză stabilite pentru Rezervaţie, sau în circa 15-16 ore cu o ambarcaţiune nemotorizată ("la rame").#{' '}

  .lang.lang-en
    +section('Route 8')
      h2 Route 8: Murighiol – Uzlina –Litcov Channel – Crişan Channel –Puiu Lake –Erenciuc Lake – Murighiol
      p
        | This route starts in Murighiol, then continues on St. Gheorghe Arm to Uzlina, crossing Uzlina and Isac lakes, continuing on#{' '}
        strong Litcov Channel,#{' '}
        | then to#{' '}
        strong Crişan Channel.#{' '}
        | The route continues on#{' '}
        strong Caraorman Channel #{' '}
        | upto#{' '}
        strong Puiu Lake,#{' '}
        | of which exits through the#{' '}
        strong Mocanului Channel (Mocansca).#{' '}
        | Puiu Lake is part of the#{' '}
        strong Roşu – Puiu lacustrian complex,#{' '}
        | formed in the marine delta (delta formed downstream of the river-marine sand dunes Letea - Caraorman), which includes Roşu, Roşuleţ and Puiuleţ lakes, among the largest in the complex, and the#{' '}
        strong Strictly Protected Area Vătafu - Lunguleţ.#{' '}
        | On the Mocanului Channel the route continues until it reaches#{' '}
        strong Lake Erenciuc.#{' '}
        | Similar to Belciug Lake, Erenciuc Lake was also formed by the natural closure of the St. Gheorghe’s arm meanders. From Erenciuc Lake, the route passes through the#{' '}
        strong Strictly Protected Area Erenciuc Alder Forest,#{' '}
        | composed by the Black Alder forest developed at the intersection of Erenciuc Lake and St. Gheorghe Arm, reach St. Gheorghe Arm at 22 km, and then continuing upstream, up to Murighiol.#{' '}
      p
        | The route includes a sequence of channels and lakes with their characteristic landscape: diverse marsh vegetation, dominated by the bird fauna. The length of the route is about 80 km which can be covered in about 4 hours on a motor boat, following the speed restrictions established for the reserve, or about 15 to 16 hours with a non-motorized craft (rowing).#{' '}
