include ../../mixins

+article('Traseul 10')
  .lang.lang-ro
    +section('Traseul 10')
      h2 Traseul 10: Crişan – Mila 23 – Lacul Trei Iezere – Crişan 
      p.text-indent
        | De la Crişan, traseul urmează Dunărea Veche (bucla din amonte) până în localitatea Mila 23 de unde, după o pauză opţională de vizitare a acestui mic sat pescăresc dar celebru prin faptul că este satul de naştere al lui Ivan Patzaichin, traseul continuă pe#{' '}
        strong Canalul Eracle, Canalul Lopatna, Lacul Trei Iezere. #{' '}
        | Prin Canalul Eracle se intră în partea de sud a#{' '}
        strong Complexului lacustru Matiţa – Merhei.#{' '}
        | Din Lacul Trei Iezere, traseul continuă prin lacurile#{' '}
        strong La Amiază, Bogdaproste, Canalul Bogdaproste, Dunărea Veche, Crişan. #{' '}
        | Caracteristica acestui traseu o reprezintă peisajul încântător al canalelor străjuite de mase compacte de stuf, şi înşiruirea lacurilor menţionate mai sus, unde pot fi întâlnite aglomerări de păsări de diferite specii, pelicani, stârci, cormorani sau lebede. Binoclurile care nu trebuie să lipsească din rucsacul de drum al fiecărui vizitator sunt de mare ajutor pentru urmărirea grupurilor de păsări, şi nu numai. Lungimea traseului este de circa 40 km care se poate parcurge în circa 3 ore cu o ambarcaţiune cu motor, respectând restricţiile de viteză stabilite pentru Rezervaţie, sau în circa 8-9 ore cu o ambarcaţiune nemotorizată ("la rame").#{' '}

  .lang.lang-en
    +section('Route 10')
      h2 10: Crişan – Mila 23 – Trei Iezere Lake – Crişan
      p
        | From Crişan, the route follows the Old Danube (upstream loop) until Mila 23 village, where you can have the option to visit this small typical fishermen’s village famous for being the birth place of Ivan Patzaichin. The route continues on#{' '}
        strong Eracle Channel, Lopatna Channel and Trei Iezere Lake.#{' '}
        | Through Eracle Channel, enters in the southern part of#{' '}
        strong lacustrian complex Matiţa - Merhei.#{' '}
        | From the Trei Iezere Lake, the route continues by#{' '}
        strong La Amiază and Bogdaproste lakes, Bogdaproste Channel, Old Danube, Crişan.#{' '}
        | The feature of this route is represented by the charming landscape of channels bordered by compact reed beds, and by the lakes sequenced above, where tourist can see great bird crowds of pelicans, herons, cormorants and swans. Binoculars should not be missing from the backpack of every visitor, because they are very helpful for bird watching, and beyond. The length of the route is about 40 km which can be covered in about 3 hours by a motor boat, following the speed restrictions set for the reserve, or in about 8-9 hours with a non-motorized craft (rowing)#{' '}