include ../../mixins

+article('Traseul 15')
  .lang.lang-ro
    +section('Traseul 15')
      h2 Traseul 15: Sf. Gheorghe - Gârla Turcească – Sf. Gheorghe
      p.text-indent
        | Cu circa 4-5 km îninte de vărsare în Marea Neagră, braţul Sf. Gheorghe "alunecă" spre sud într-o ultimă "despletire" a apelor formând o deltă secundară, numită#{' '}
        strong Meleaua Sf. Gheorghe#{' '}
        | sau Meleaua (Baia) de Sud, cuprinsă între braţul principal şi alte două braţe mai mici:#{' '}
        strong Gârla de Mijloc şi Gârla Turcească.#{' '}
        | În capătul Gârlei Turceşti altă dată funcţiona şi un vechi far pentru dirijarea navigaţiei (Farul Turcesc). În faţa dinspre mare a deltei secundare s-au format din aluviuni amestecate cu nisip marin două insule foarte apropiate, care în timp au crescut în dimensiune şi s-au unit alcătuind#{' '}
        strong "Arhipelagul Sacalin"#{' '}
        | , loc sălbatic de o frumuseţe rară ce prezintă un interes deosebit pentru o varietate mare de specii de păsări care găsesc aici locuri de cuibărit şi odihnă precum şi locuri de hrănire şi care prezintă o atracţie deosebită şi pentru vizitatorii localităţii Sf. Gheorghe. Această zonă face parte din#{' '}
        strong Zona Strict Protejată "Sacalin-Zătoane"#{' '}
        | în suprafaţă totală de circa 21.410 ha, cea mai mare arie protejată din perimetrul Rezervaţiei, o succesiune de grinduri, lacuri izolate, zone mlăştinoase, bălţi nisipite, stuf, etc. Având în vedere interesul ridicat pentru vizitarea zonei a fost propus un traseu de vizitare pe Gârla Turcească până la intrare în Melea cu posibilitatea urmăririi grupurilor de păsări şi a peisajului caracteristic. Traseul începe din localitatea Sf. Gheorghe şi continuă pe Gârla de Mijloc şi apoi pe Gârla Turcească până la zona de descărcare în Melea.#{' '}
      p.text-indent
        strong Lungimea traseului, dus-întors, este de circa 16 km.#{' '}
        | Deoarece traseul este situat în zona strict protejată,  accesul este permis numai pentru o porţiune foarte limitată, pentru un număr limitat de ambarcaţiuni stabilit de Administraţia Rezervaţiei, cu respectarea strictă a traseului şi a vitezei de circulaţie. Având în vedere lungimea relativ mică a traseului este recomandabilă folosirea mijloacelor de transport fără motor sau cele propulsate cu motoare electrice.#{' '}

  .lang.lang-en
    +section('Route 15')
      h2 Route 15:  St.Gheorghe - Gârla Turcească (Turkish Stream) - St. Gheorghe
      p
        | About 4-5 km before flowing in the Black Sea, St. Gheorghe Arm "slides" to the South in one last water "unplaite", forming a  secondary delta called#{' '}
        strong Meleaua St. Gheorghe#{' '}
        | or  South Meleaua (Baia), formed by the main arm and two smaller:#{' '}
        strong Gârla de Mijloc (Middle Stream) and Gârla Turcească (Turkish Stream).#{' '}
        | At the end ofGârla Turcească there used to be an old lighthouse once, to guide navigation (Farul Turcesc-Turkish Lighthouse). In the seaward side of the secondary delta, two very close islands formed, from silts mixed with sea sand, which over time grew in size and merged, forming the#{' '}
        strong ”Arhipelagul Sacalin”,#{' '}
        | a wild area of rare beauty and great interest particularly for a great variety of birds species, which find here nesting, resting and feeding places, representing a special attraction for visitors of the St. Gheorghe village. This area is part of#{' '}
        strong "Sacalin - Zatoane” Strictly Protected Area#{' '}
        | and stretches over 21,410 hectares, being the largest protected area in the delta, a succession of banks, isolated lakes, wetlands, sandy marshes, reed, etc.#{' '}
      p
        | Considering the high interest for visiting this area, a route has been proposed to visit the Gârla Turcească until it enters in Melea, having the possibility to watch groups of birds and the specific landscape. The route begins in the St. Gheorghe village and continues on Gârla de Mijloc, then Gârla Turceasca up to the flowing area into Melea.#{' '}
      p
        strong The round trip of the route is about 16 km long.#{' '}
        | Because the route is located in the strictly protected area, access is allowed only for a very limited part, for a limited number of boats established by the Reserve Authority, with strict compliance to the route and speed limits. Given the relatively short length of the route, it is advisable to use non-motorized boats or those powered by electric motors.#{' '}