include ../../mixins

+article('Traseul 9')

  .lang.lang-ro
    +section('Traseul 9')
      h2 Traseul 9: Crişan – Lacul Roşu – Sulina – Crişan   
      p.text-indent
        | Traseul reprezintă una din opţiunile de excursii pentru turiştii cazaţi în pensiunile din localitatea Crişan şi oferă posibilitatea unei excursii deosebit de atrăgătoare, atât prin peisaj cât şi prin bogăţia de păsări din zonă. Din Crişan, acest traseu începe pe Braţul (Canalul) Sulina şi continuă spre amonte până la limita localităţii unde traseul continuă spre sud, pe#{' '}
        strong Canalul Crişan,#{' '}
        | un canal artificial construit pentru a transporta nisipul ce trebuia exploatat în dunele de nisip cuarţos din preajma Pădurii Caraorman. Din Canalul Crişan, traseul continuă pe#{' '}
        strong Canalul Caraorman,#{' '}
        | întrând în#{' '}
        strong Complexul lacustru Roşu – Puiu #{' '}
        | şi trece prin#{' '}
        strong Lacurile Puiu, Roşu, Roşuleţ, Canalul Roşu – Împuţita,#{' '}
        | în apropierea#{' '}
        strong Zonei Strict Protejate "Vătafu – Lunguleţ", #{' '}
        | Canalul Busurca, ajungând în oraşul Sulina, în dreptul Mm 2. Un popas în cel mai estic oraş al României şi în oraşul cu cea mai joasă altitudine (3,4 m deasupra nivelului Mării Negre),#{' '}
        strong Sulina,#{' '}
        | "Europolis"-ul scriitorului Jean Bart, atestat documentar în anul 950 sub numele de Sellina (Sollina), considerat şi "finisterul românesc",  prilejuieşte turiştilor vizitarea unor obiective turistice foarte interesante care mai păstrează memoria portului liber ("Porto Franco"), fostul palat al Comisiei Eropene A Dunării(CED), farul vechi de 18,5 m construit în 1802, reconstruit de CED în 1870, în prezent rămas în interiorul oraşului Sulina, ca obiectiv turistic, cimitirul, străzile oraşului, etc. Drumul de întoarcere spre Crişan se face pe Canalul Sulina. Lungimea traseului este de circa 65 km care se poate parcurge în circa 3 ore cu o ambarcaţiune cu motor, respectând restricţiile de viteză stabilite pentru Rezervaţie, sau în circa 12-14 ore cu o ambarcaţiune nemotorizată ("la rame").#{' '}

  .lang.lang-en
    +section('Route 9')
      h2 Route 9: Crişan – Roşu Lake– Sulina – Crişan
      p
        | The route is one of the options of trips for tourists staying in Crişan village pensions and offers a particularly attractive tour, both by the landscape and by the birds richness in the area. From Crişan, this route begins on the Sulina Arm and continues upstream to the village limits, where the route goes on to South on#{' '}
        strong Crişan Canal,#{' '}
        | that was artificially created to transport the sand that had exploited from the quartz sand dunes near Caraorman Forest. From Crişan Canal, the route continues on the#{' '}
        strong Caraorman Channel#{' '}
        | entering in the,#{' '}
        strong lacustrian complex Roşu – Puiu#{' '}
        | and passing through,#{' '}
        strong Puiu, Roşu, Roşuleţ lakes, Roşu – Împuţita Channel#{' '}
        | close to the#{' '}
        strong Strictly Protected Area Vătafu – Lunguleţ,#{' '}
        | the Busurca Channel, reaching Sulina town, in front of Mm 2. A stop in the most eastern Romanian city, the city with the lowest altitude (3.4 m above sea level),#{' '}
        strong Sulina,#{' '}
        | the "Europolis" of  the writer Jean-Bart, was first attested in 950 as Sellina (Sollina), also considered as "Romanian finister", offers the occasion for tourists to visit interesting attractions that still keeps the memory of the free port ("Porto Franco"), the former palace of European Danube Commission (CED), 18.5 m old lighthouse built in 1802 and rebuilt in 1870 by CED, currently it is  inside Sulina city as a tourist attraction, the international cemetery, streets, etc. The way back to Crişan is on Sulina Canal. The length of the route is about 65 km which can be covered in about 3 hours by a motor boat, following the speed restrictions set for the area, or about 12 to 14 hours with a non-motorized craft (rowing).#{' '}
