include ../../mixins

+article('Traseul 5')

  .lang.lang-ro
    +section('Traseul 5')

      h2 Traseul 5: Murighiol – Canalul Dranov – Gura Portiţei – Canalul Dunavăţ – Murighiol
      p.text-indent
        | Traseul are ca punct de plecare localitatea Murighiol care reprezintă un alt punct important de intrare în deltă, situat la circa 42 Km de Tulcea. În apropierea localităţii se află#{' '}
        strong complexul turistic "Pelican", #{' '}
        | care oferă cazare turiştilor în hotel, vile şi bungalouri. Tot în apropierea localităţii Murighiol se află#{' '}
        strong Zona Strict Protejată "Sărăturile – Murighiol",#{' '}
        | zonă desemnată pentru locurile de cuibărit şi popas a numeroase specii de păsări adaptate la un mediu bogat în săruri: ciocântorsul, piciorongul, nagâţul, raţa cu ciuf etc. Traseul începe pe#{' '}
        strong Braţul Sf. Gheorghe#{' '}
        | până în dreptul Km 54 unde se desprinde#{' '}
        strong Canalul Dunavăţ.#{' '}
        | Traseul continuă pe canalul Dunăvăţ circa 8 km, apoi pe#{' '}
        strong Canalul Gâscova, care face legătura dintre canalele Dunavăţ#{' '}
        | şi#{' '}
        strong Dranov#{' '}
        | şi, în continuare, pe Canalul Dranov, pe lângă#{' '}
        strong Lacul Dranov (2 170 ha#{' '}
        | unul dintre marile lacuri ale Deltei Dunării care funcţionează în prezent ca amenajare piscicolă) până la Lacul Razim#{' '}
        strong . Lacul Razim#{' '}
        | face parte din#{' '}
        strong Complexul de lacuri Razim-Sinoie,#{' '}
        | aflat în partea sudică a rezervaţiei. În drumul spre Gura Portiţei traseul trece prin#{' '}
        strong Lacul Goloviţa#{' '}
        | printr-o zonă îngustată (strâmtoare) străjuită, pe partea dreaptă, de promontoriul#{' '}
        strong Capului Doloşman,#{' '}
        | unde se pot vedea ruinele cetăţii#{' '}
        strong Orgame – Argamum#{' '}
        | şi loc de cuibărit pentru lăstunul mare, pietrarul negru iar pe partea stângă de promontoriul insulei#{' '}
        strong Bisericuţa,#{' '}
        | parte a#{' '}
        strong Zonei Strict Protejate "Periteaşca – Leahova"#{' '}
        | importantă pentru cuibărit şi hrănirea păsărilor acvatice. Traseul se încheie la#{' '}
        strong Gura Portiţei (Staţiunea "La Eden"),#{' '}
        | loc amenajat şi vizitat de foarte mulţi turişti care pot opta aici atât pentru relaxare şi plajă cât şi pentru partide de pescuit, locul fiind un grind marin constituit din nisip între complexul de lacuri şi Marea Neagră. Drumul de întoarcere se face pe acelaşi traseu, sau se poate intra pe#{' '}
        strong Canalul Dunavăţ.#{' '}
        | Traversarea Lacului Razim spre Canalul Dunavăţ oferă posibilitatea observării#{' '}
        strong Insulei Popina#{' '}
        | (martor de eroziune calcaros), zonă strict protejată (98 ha), loc de cuibărit pentru călifarul alb şi loc de popas al păsărilor migratoare. Tot aici se găseşte şi un miriapod uriaş, de circa 17 cm, păianjenul văduva neagră, precum şi şerpi de apă. Se mai poate opta şi pentru traversarea Lacului Goloviţa spre localitatea Jurilovca, de unde se poate continua deplasarea cu mijloace de transport rutiere. Lungimea traseului este de circa 130 km care se poate parcurge în circa 4 ore cu o ambarcaţiune cu motor, respectând restricţiile de viteză stabilite pentru rezervaţie, sau în circa 24-26 ore cu o ambarcaţiune nemotorizată ("la rame").#{' '}
      +img('img/LC8T3308.jpg')
  .lang.lang-en
    +section('Route 5')
      h2 Route 5: Murighiol –Dranov Channel – Gura Portiţei – Dunavăţ Channel – Murighiol
      p
        | The route starts from Murighiol village, another important entry point in the delta, situated at about 42 km from Tulcea. Near the village you can find the#{' '}
        strong "Pelican" tourist complex#{' '}
        | which provides tourist accommodation in hotels, villas and bungalows. Also around village is located the#{' '}
        strong Strictly Protected Area Sărături – Murighiol,#{' '}
        | designated for nesting and resting place of many bird species adapted to an environment rich in salts: Avocet, Black-winged Stilt, Lapwing, Red-crested Pochard, etc. The route starts on#{' '}
        strong St. Gheorghe Arm #{' '}
        | up to the 54 Km where#{' '}
        strong Dunavăţ Channel#{' '}
        | branches out.The route continues on Dunăvăţ Channel about 8 km, then on#{' '}
        strong Gâscova Channel #{' '}
        | which links#{' '}
        strong Dunavăţ Channel and Dranov Channel, #{' '}
        | and on  Dranov channel, near#{' '}
        strong Dranov Lake (2170 ha#{' '}
        | , one of the greatest lakes of the Danube Delta, currently operates as a fish pond) to Razim Lake.#{' '}
        strong Razim Lake#{' '}
        | is part of#{' '}
        strong Razim-Sinoe lacustrian complex#{' '}
        | , located in the southern part of the reserve. On the way to Gura Portiţei, the route pass through#{' '}
        strong Goloviţa Lake#{' '}
        | , bya narrow area (strait), guarded on the right side, by the promontory of#{' '}
        strong Cape Doloşman#{' '}
        | , where you can see the ruins of#{' '}
        strong Orgame – Argamum#{' '}
        | fortress and the nesting place for Sand Martin, Pied Wheatear, and on the left side of the Bisericuţa island’s promontory, a part of the#{' '}
        strong Strictly Protected Area Periteaşca - Leahova#{' '}
        | important for waterfowl nesting and feeding. The trail ends at the Gura Portiţei ("La Eden" resort), a place visited by many tourists who enjoy sunbathing, leisure and fishing sessions, due to the fact that the place is on a sand levee, between the lacustrian complex and the Black Sea. The return journey is along the same route, or you can enter in#{' '}
        strong Dunavăţ Channel#{' '}
        | . Crossing Razim lake towards Dunavăţ channel, offers the possibility to observe#{' '}
        strong Popina Island#{' '}
        | (calcareous erosion witness), a Strictly Protected Area (98 ha), nesting place for Shelduck and the resting place for migratory birds. Here also can be found a giant myriapod, about 17 cm, the Black Widow spider and Dice Snakes. You can also choose to cross Goloviţa lake towards Jurilovca village, where you can continue to travel by road.#{' '}
      p
        | The length of the route is about 130 km which can be covered in about 4 hours on a motor boat, following the speed restrictions established for the reserve, or about 24 to 26 hours in a non-motorized craft (rowing).#{' '}
      +img('img/LC8T3308.jpg')