include ../../mixins

+article('Traseul 3')
  .lang.lang-ro
    +section('Traseul 3')
      h2 Traseul 3: Tulcea – Canalul Stipoc – Chilia Veche – Tulcea
      p.text-indent
        | Traseul reprezintă o variantă pitorească a drumului către#{' '}
        strong localitatea Chilia Veche#{' '}
        | aflată în partea de nord a rezervaţiei, pe Braţul Chilia, lăsând posibilitatea vizitatorului ca pentru întoarcere să aleagă acelaşi parcurs sau pe Braţul Chilia, frontiera naturală dintre România şi Ucraina. La ducere, traseul străbate o zonă deosebit de pitorească, ce include Braţul Tulcea şi apoi Canalele Mila 35, Sireasa, Şontea,#{' '}
        strong Războiniţa, Stipoc şi Pardina.#{' '}
        | Pe canalul Războiniţa, traseul se îndreaptă spre nordul Deltei Dunării spre Canalul Stipoc şi apoi Canalul Pardina. Canalul Pardina mărgineşte Amenajarea Agricolă Pardina, cea mai mare din Delta Dunării (27.000 ha). La capătul Canalului Pardina se află localitatea Chilia Veche,#{' '}
        em aflată pe malul drept al Braţului Chilia, pe "insula continentală" denumită şi Câmpul Chiliei. Este cea mai populată aşezare rurală din Delta Dunării, cu circa 3.000 de locuitori, situată în faţa Cetăţii Chilia (construită în 1479) care a aparţinut lui Ştefan cel Mare. Chilia Veche are o vechime mare, aici, în câteva movile s-au descoperit morminte sarmatice datând din secolele II-III d.Hr., cunoscută şi numele de Achilleo, în antichitatea greacă, urmele se pot vedea şi azi. Genovezii au numit-o Licostomo (Gura Lupului), iar turcii Eskil-Kale. Din Chilia Veche, unde se poate vizita o biserică foarte interesantă atât prin dimensiunile sale cât şi prin faptul că prin arhitectura sa aminteşte de biserica care se află în localitatea Donaueschingen, deasupra celui de-al treilea izvor al Dunării- Donau Quele, se pot face mai multe trasee, atât cu mijloace de transport naval cât şi sub forma unor drumeţii terestre.#{' '}
        strong Vizitarea zonelor de reconstrucţie ecologică Babina şi Cernovca,#{' '}
        | foste incinte amenajate pentru agricultură şi redate deltei constituind primele proiecte de reconstrucţie ecologică din Delta Dunării realizate în anii 1994-1995, vizitarea localităţii Periprava o localitate de pescari cu case tradiţionale, drumeţii pentru vizitarea#{' '}
        strong amenajărilor piscicole Chilia sau Hreblea,#{' '}
        | partide de pescuit organizate pe malul braţului, sau cele de vânătoare, sunt doar câteva atracţii ale zonei. Pentru varianta de întoarcere pe Braţul Chilia, vizitatorii pot admira cel mai tânăr braţ al Deltei Dunării, cel mai lung dar şi cel mai mare în ceea ce priveşte debitul lichid preluat din Dunăre (peste 50%). Pot fi admirate localităţile construite pe cele două maluri, atât pe malul românesc: Pardina, Tatanir, Ceatalchioi, cât şi pe malul ucrainean: Chilia Nouă şi Ismail. Lungimea traseului este de circa 114 km care se poate parcurge în circa 5 ore cu o ambarcaţiune cu motor, respectând restricţiile de viteză stabilite pentru rezervaţie, sau în circa 20-22 ore cu o ambarcaţiune nemotorizată ("la rame").
      +img('img/route3_1.jpg')

  .lang.lang-en
    +section('Route 3')
      h2 Route 3: Tulcea – Stipoc Channel – Chilia Veche – Tulcea

      p
        | The route is another option on the picturesque path to the Chilia Veche village located in the North of the reserve, on Chilia arm. On the trip’s return, visitors have the opportunity to choose the same path or follow Chilia arm, the natural border between Romania and Ukraine. On departure, the route runs through a very picturesque area, which includes Tulcea arm, followed by Mila 35, Sireasa, Şontea,#{' '}
        strong Războiniţa, Stipoc and Pardina#{' '}
        | channels. On the Războiniţa channel, the route goes to the North of the Danube Delta, towards Stipoc channel and then to Pardina channel. Pardina channel borders the agricultural polder Pardina, the largest in the Danube Delta (27,000 ha). At the end of Pardina channel, lies the village of Chilia Veche, located on the right bank of Chilia arm, on a "mainland island" called "Câmpul Chiliei" (Chilia’s Field). It is the most populated rural location in the Danube Delta, with about 3,000 inhabitants, situated in the front of Chilia fortress (built in 1479) which belonged to Ştefan cel Mare. Chilia Veche is a very old village, where in a few mounds were found Sarmatian graves, dated from the 2nd, 3rd centuries BC, also known as the#{' '}
        em Achilleo#{' '}
        | in the Greek antiquity and the remains can be seen today. The Genovese called it#{' '}
        em Licostomo#{' '}
        | (mouth of the Wolf), and the Turks#{' '}
        em Eski- Kale.#{' '}
        | From Chilia Veche, where you can visit a church that is very interesting both due to its size and also to the fact that the architecture is reminiscent of the church located in Donaueschingen town, above the third spring of the Danube-Donau Quelle, you can take multiple routes, using naval transportation or hiking. Here you can visit the ecological restoration areas Babina and Cernovca, former agricultural polders, where used for the first ecological restoration projects undertaken in the Danube Delta in 1994-1995; you can also explore Periprava a fishermen’s village with traditional houses, or you can see the#{' '}
        strong Chilia and Hreblea fish ponds,#{' '}
        | you can participate in organized fishing parties or hunting, these are just some of the area attractions. For the option of returning on the Chilia arm, visitors can admire the youngest arm of the Danube Delta, being the longest but also the largest in terms of water flow taken from the Danube (over 50%). Villages can be admired on both sides, both on the Romanian side: Pardina, Tatanir, Ceatalchioi and on the Ukrainian side: New Chilia and Ismail. The length of the route is about 114 km, that can covered in about 5 hours with a motor boat, following the speed restrictions established for the reserve, or about 20 to 22 hours using a non-motorized craft (rowing).
      +img('img/route3_1.jpg')
