include ../../mixins

+article('Cum ajungem în Delta Dunării?')
  .lang.lang-ro
    +section('Cum ajungem în Delta Dunării?')
      h2 Cum ajungem în Delta Dunării?
      p
        | Pentru vizitarea Rezervaţiei, primul popas trebuie făcut în Tulcea, unde se poate ajunge dinspre Bucureşti, Constanţa, Brăila sau Galaţi cu trenul (dinspre Bucureşti sau Constanţa) sau cu mijloace de transport rutier, din toate direcţiile menţionate. În Tulcea se poate ajunge şi pe cale aeriană, în apropierea municipiului Tulcea funcţionând Aeroportul Internaţional "Delta Dunării". 
        strong Cu trenul #{' '}
        | se poate ajunge în Tulcea pe rutele:#{' '}
        strong Bucureşti – Medgidia – Tulcea#{' '}
        | şi#{' '}
        strong Constanţa – Tulcea.#{' '}
        | Informaţii se pot obţine din#{' '}
        a(href='http://www.cfr.ro') Mersul trenurilor
        | #{' '}sau la#{' '}
        strong gara CFR Tulcea#{' '}
        | (tel:#{' '}
        a(href='tel: +40 240 513 706') 0240 513 706
        | ). #{' '}
        strong Cu autocarul sau autoturismul#{' '}
        | drumul are circa 280 km şi se poate ajunge pe ruta:#{' '}
        strong Bucureşti – Urziceni – Slobozia – Hîrşova – Tulcea (DN 2A/E60/DN22A)#{' '}
        | sau ruta:#{' '}
        strong Bucureşti – Drajna (A2) – Slobozia – Hârşova – Tulcea (DN2A/E60/DN22A).#{' '}
        | Autocarele pleacă din Bucureşti din staţia din Calea Plevnei nr. 236. Din Constanţa, Brăila sau Galaţi distanţele sunt de 126 km pe traseul#{' '}
        strong Constanţa – Tulcea (DN22/E87),#{' '}
        | 90 km pentru traseul#{' '}
        strong Brăila – Tulcea (DN22D)#{' '}
        | şi 90 km pentru traseul#{' '}
        strong Galaţi – Tulcea (DN22/E87).#{' '}
        | Pentru cei care vin din Brăila, autobuzele/microbuzele pleacă din localitatea Smârdan, iar pentru cei care vin din Galaţi, acestea pleacă din I.C.Brătianu (puncte de trecerea bacului). Informaţii se pot obţine de la Autogara Tulcea (tel: 0240 513304).
        | Din Tulcea se poate ajunge în localităţile limitrofe Rezervaţiei prezentate ca puncte de plecare ale unor trasee turistice, atât cu curse locale de autobuze/microbuze sau cu mijloacele proprii de deplasare pe traseele:
      div.center
        strong Tulcea – Nufăru – Beştepe – Mahmudia – Murighiol – Dunavăţu de Jos, (55 km);
      div.center
        strong Tulcea – Mihail Kogălniceanu – Babadag – 2 Cantoane (DN22) – Jurilovca, (70 km).
      p
        strong Parcări în oraşul Tulcea:#{' '}
        span Hotel Delta, Hotel Egreta, Hotel Select, Casa Sindicatelor, Autogara
      p
        strong Cu mijloacele de transport navale,#{' '}
        | accesul în principalele localităţi din Delta Dunării se poate realiza cu navele societăţii#{' '}
        strong Delta S.C. Navrom Delta SA Tulcea#{' '}
        | (tel:#{' '}
        a(href='tel: +40 240 511 553') 0240 511 553
        | ,#{' '}
        a(href='http://www.navromdelta.ro') http://www.navromdelta.ro
        | , pe rutele:
        div.center
          strong Tulcea – Pătlăgeanca – Ceatalchioi – Pardina – Chilia Veche – Periprava;
        div.center
          strong Tulcea – Partizani – Maliuc – Gorgova – Crişan – Sulina;
        div.center
          strong Tulcea – Mahmudia – Murighiol – Sf. Gheorghe.

      h3 Centre de Informare și Educație Ecologică
      p
        | Pentru informarea vizitatorilor şi localnicilor, pe teritoriul Rezervaţiei funcţionează#{' '}
        strong Centre de informare şi educație ecologică#{' '}
        | organizate de Administraţia Rezervaţiei în Tulcea, Crişan, Sulina, Murighiol, Sf. Gheorghe, Gura Portiţei şi Chilia Veche. În aceste centre, vizitatorii cât şi localnicii găsesc materiale informative sub forma unor expoziţii tematice, pliante, broşuri, etc., privind rolul şi importanţa Rezervaţiei, rolul Administraţiei Rezervaţiei, rolul vizitatorilor şi al populaţiei locale în realizarea obiectivelor de gestionare ecologică a patrimoniului natural.
      +img('img/Centru Tulcea 1.jpg')

  .lang.lang-en
    +section('How do we get to the Danube Delta?')

      h2 How do we get to the Danube Delta
      p
        | To visit the Reserve, the first stop must be done in Tulcea, which can be reached from Bucharest, Constanţa, Brăila or Galaţi by train (from Bucharest or Constanţa), or by road from all mentioned directions. Tulcea can also be reached by air, near Tulcea town is operating the International  "Delta Dunării" Airport. 
        strong The train 
        | can reach Tulcea by the routes: 
        strong Bucharest - Medgidia - Tulcea and Constanţa - Tulcea. 
        | Information can be obtained from the 
        a(href='http://www.cfr.ro') Train schedule
        | #{' '} or from the railway 
        strong station CFR Tulcea 
        | (phone:#{' '}
        a(href='phone: +40 240 513 706') +4 0240 513 706
        | ). #{' '}
        strong By bus or by car
        | , the journey is about 280 km and can be reached on the route:#{' '}
        strong Bucharest – Urziceni – Slobozia – Hîrşova – Tulcea (DN 2A/E60/DN22A)#{' '}
        | or on the route:#{' '}
        strong Bucharest - Drajna (A2) - Slobozia - Hârşova - Tulcea (DN2A/E60/DN22A)#{' '}
        | . Buses depart from Bucharest station, located in Calea Plevnei no. 236. From Constanţa, Brăila or Galaţi, the distances are 126 km on the route 
        strong Constanţa – Tulcea (DN22/E87)
        | , 90 km for the Brăila – Tulcea (DN22D) route and 90 km for the route 
        strong Galaţi – Tulcea (DN22/E87)
        | . For those coming from Braila, buses/minibuses depart from Smârdan village, and for those coming from Galaţi leave from I.C.Brătianu village (ferry crossing station). Information may be obtained from Tulcea bus station (phone: 0240 513 304).
        | From Tulcea, you can reach several villages that can be used as points of departure for various tourist routes, using both local buses/vans or your own means of transportation.
        div.center
          strong Tulcea – Nufăru – Beştepe – Mahmudia – Murighiol – Dunavăţu de Jos, (55 km);
        div.center
          strong Tulcea – Mihail Kogălniceanu – Babadag – 2 Cantoane (DN22) – Jurilovca, (70 km).
        p 
          strong Parking places in Tulcea
          |: Delta Hotel, Egreta Hotel, Select Hotel, Casa Sindicatelor (Trade Unions House), Bus Station.
        p 
          strong By water means of transportation
          |, the access to the main Danube Delta localities can be done with the ships from company Delta S.C. Navrom Delta SA Tulcea 
          | (phone:#{' '}
          a(href='phone: +40 240 511 553') 0240 511 553
          | ,#{' '} 
          a(href='http://www.navromdelta.ro') www.navromdelta.ro 
          | on the routes:
        div.center
          strong Tulcea – Pătlăgeanca – Ceatalchioi – Pardina – Chilia Veche – Periprava;
        div.center
          strong Tulcea – Partizani – Maliuc – Gorgova – Crişan – Sulina;
        div.center
          strong Tulcea – Mahmudia – Murighiol – Sf. Gheorghe.

        h3 Information and Ecological Education Centers
        p
          | To inform visitors and local people, on the Reserve territory, there are several#{' '}
          strong Information and Ecological Education Centers#{' '}
          | organized by Danube Delta Biosphere Reserve Authority in Tulcea, Crisan, Sulina, Murighiol, St. Gheorghe, Gura Portitei and in Chilia Veche village. In these centers, visitors and local people can find informative materials in thematic exhibitions, leaflets, brochures, etc., concerning the role and importance of the reserve, of the Danube Delta Biosphere Reserve Authority, the role of visitors and of the local population in achieving the objectives of environmental management of the natural heritage.
      +img('img/Centru Tulcea 1.jpg')