include ../../mixins

+article('Rezervări')
  .lang.lang-ro
    +section('Rezervări')

      h2 Rezervări
      p
        b Rezervarea#{' '}
        | se poate face prin diferite agenții de turism, prin marii operatori turistici, dar şi prin cei de nişă specializaţi pe turismul în natură, birdwatching, etc. Potenţialii vizitatori pot să facă rezervări şi direct la punctele de cazare din deltă.
      h3 Centre de informare turistică
      p Pentru informarea turiștilor în Municipiul Tulcea funcționează următoarele centre de informare și promovare turistică:
     
      h3 Centrul Naţional de Informare şi Promovare Turistică la Tulcea: #{' '}
      p Tulcea, Str. Gloriei, Nr. 4, tel/fax: 0240 519 055#{' '}
        a(href='http://www.cnipttulcea.ro/') http://www.cnipttulcea.ro/
        | .

      h3 Centrul de Informare Turistică Tulcea#{' '}
      p Primăria Municipiului Tulcea Str. Gării, Nr. 26, Tulcea (pe Faleza Dunării), Tel/fax: 0240 519 130#{' '}
        a(href='http://www.primariatulcea.ro/') http://www.primariatulcea.ro/
        | .#{' '}
      p Filiala A.N.T.R.E.C. Tulcea, Str. Portului, Nr. 34 A (clădirea ARBDD),
        a(href='mailto:tulcea@antrec.ro') #{' '}tulcea&#64;antrec.ro #{' '}
      p Centrul de Ecoturism Rowmania (CER) - Crișan, amplasat pe brațul Sulina. Centrul oferă vizitatorilor Deltei Dunării trasee de turism lent, cu ghidare şi interpretare atât la centru cât şi prin intermediul însoţitorilor în tururi, iar pentru tururile pe canale, sunt folosite canotci-ambarcaţiuni tradţionale din lemn, confecţionate local. Turiştii pot avea acces la un audioghid cu sunetele celor mai întâlnite păsări din zonă şi un catalog cu informaţii suplimentare despre comunitatea locală şi păsările deltei. CER este o inițiativă a Asociației de Ecoturism din România și a Asociației Ivan Patzaichin - Mila 23 pentru conservarea ecosistemului local și dezvoltarea comunităților din zonă. 
        a(href='http://www.slowtourism.ro/crisan/') http://www.slowtourism.ro/crisan/
      +img('img/4-3-ro.jpg')
  .lang.lang-en
    +section('Bookings')
      h2 Bookings
      p
        b Bookings#{' '}
        | can be done through various travel agencies, through major tour operators, but also by the niche operators, specialized in nature tourism, bird watching, etc. Potential guests can make reservations directly at the accommodation points found in the delta.
      h3 Tourist Information Centers
      p
        | For tourists information, in Tulcea city there are several information and tourism promotion centers: 
      p 
        strong Tulcea National Information and Tourism Promotion Center:
      p Tulcea, 4 Gloriei Str, tel/fax: +40 240 519 055#{' '}
        a(href='http://www.cnipttulcea.ro/',target='_blank') http://www.cnipttulcea.ro/.
      h3 Tulcea Turism Information Center 
      p
        | Tulcea  Municipality, 26 Gării Str., Tulcea city on Danube promenade, Tel/fax: 0240 519 130.
        a(href='http://www.primariatulcea.ro') http://www.primariatulcea.ro
      p 
        strong A.N.T.R.E.C. Tulcea
        | , 34 A Portului Str., DDBRA building, e-mail:
        a(href='mailto:tulcea@antrec.ro') #{' '}tulcea&#64;antrec.ro
      p 
        strong Rowmania Ecotourism Center - Crișan
        |, situated on Sulina Canal.
      p
        | Based in Crisan, the Center offers slow tours by canotca (a cross between lotca- the traditional fishing boat and Patzaichin`s Olympic canoe) in the Danube Delta. The tours may be assisted by an interpretative audio-visual guide, offering a precious insight into the natural and cultural values of the area. Self-guided or guided tours can be tailored to your convenience, with assistance in choosing the best route, transport, accommodation or eating arrangements.  CER is an initiative of the Association of Ecotourism Romania and the Ivan Patzaichin – Mila 23 Association, aiming to make a contribution to nature conservation and local development 
        a(href='http://www.slowtourism.ro/crisan/') www.slowturism.ro/crisan
      +img('img/4-3-ro.jpg')
