include ../../mixins

+article('Traseul D7')

  .lang.lang-ro
    +section('Traseul D7')
      h2 Traseul D7: Plaja Sulina
      p.text-indent
        | Traseul include vizitarea porţiunii de plajă sălbatică Sulina, zonă în care pot fi văzute habitate de interes comunitar specifice sectorului pontic. Plaja de la Sulina este renumită pentru nisipul ei fin şi pentru faptul că e situată într-o zonă în care vântul e prezent continuu, ceea ce face mai suportabilă atmosfera zilelor toride. Calitatea nisipului, marea calmă cu adâncimi mici şi fără obstacole subacvatice fac zona prielnică pentru recreere şi cură heliomarină. Aspectul cel mai interesant al zonei îl reprezintă prezenţa habitatelor de interes comunitar sau prioritar precum şi a unor specii de floră foarte valoroase: volbura de nisip#{' '}
        em (Convolvulus persicus) #{' '}
        | sau#{' '}
        em (Centaurea pontica),#{' '}
        | specii unicat pe plan mondial (specii endemice) incluse în Cartea Roşie a Rezervaţiei.#{' '}
      p.text-indent Traseul are o lungime de circa 9 km şi se poate face în circa 3 ore de mers.#{' '}

  .lang.lang-en
    +section('Trail D7')
      h2 Trail D7: Sulina Beach
      p
        | The route includes the visit of the Sulina wild beach, where one can see habitats of community interest, specific to the Pontic sector. The Sulina beach is famous for its fine sand and for its location, in an area where the wind is always present, making the heat of the sun more bearable.#{' '}
      p
        | The qualities of sand, the calmness of the shallow sea with no underwater obstacles, make the area favorable for recreation and heliomarine cures. The most interesting aspect of the area is the presence of community or priority interest habitats, together with very valuable species of flora: Sand Bindweed (#{' '}
        em Convolvulus persicus) #{' '}
        | or#{' '}
        em  (Centaurea pontica),#{' '}
        | worldwide unique species (endemic species) included in the Red Book of the Reserve.#{' '}
      p
        | The route has a length of about 9 km and can be traveled in about 3 hours by foot.#{' '}
