include ../../mixins

+article('Traseul D4')
  .lang.lang-ro
    +section('Traseul D4')
      h2 Traseul D4: Tulcea (Tudor Vladimirescu) – Canalul Sireasa – Canalul M35 – Tulcea
      p.text-indent
        | Propunerea acestui traseu a fost oferirea unei alternative de petrecere a timpului liber pentru locuitorii municipiului#{' '}
        strong Tulcea.#{' '}
        | Traseul are ca punct de plecare localitatea#{' '}
        strong Tudor Vladimirescu #{' '}
        | (cartier al Municipiului Tulcea), #{' '}
        | unde se ajunge prin traversarea Dunării cu bacul plutitor (ferry boat) din municipiul Tulcea şi continuă pe două variante: drumul comunal care trece prin Tudor Vladimirescu şi Pătlăgeanca (opţional) spre localitatea Sălceni, pentru a ajunge, după circa 15 km, la#{' '}
        strong Canalul Sireasa,#{' '}
        | dealungul căruia pe o distanţă de circa 10 km sunt locuri prielnice pentru pescarii sportivi şi de aceea zona este atrăgătoare în special pentru turiştii împătimiţi ai pescuitului recreativ-sportiv (1), sau, coborând pe malul Braţului Tulcea către Ceatalul Sf. Gheorghe pentru a ajunge la#{' '}
        strong Canalul Mila 35, #{' '}
        | pe malul căruia, pe o lungime de circa 10 km, sunt numeroase locuri prielnice pentru amplasarea taberelor zilnice de pescuit recreativ-sportiv.#{' '}
      +img('img/LC8T4393.jpg')
  .lang.lang-en
    +section('Trail D4')
      h2 Trail D4: Tulcea (Tudor Vladimirescu) - Sireasa Channel - Mila 35 Channel - Tulcea
      p
        | The purpose of this route was to provide an alternative leisure activitiy for residents of the#{' '}
        strong Tulcea#{' '}
        | municipality. The trail has as a starting point in#{' '}
        strong Tudor Vladimirescu#{' '}
        | locality (district of Tulcea city), which is reached by crossing the Danube by ferry boat from the Tulcea city, and continues on two alternatives: the village road passing through Tudor Vladimirescu and Pătlăgeanca (optional) to Sălceni village, reaching after 15 km on#{' '}
        strong Sireasa Channel,#{' '}
        | along which, over a distance of about 10 km, there are favourable places for angling, this is why the area is especially attractive for tourists enthusiastic about recreational fishing (1 ), or down the bank of Tulcea Arm, towards Ceatalul St. Gheorghe,  reaching#{' '}
        strong Mila 35 Channel,#{' '}
        | where over 10 km on the bank, there are numerous opportunities for recreational daily fishing camps.#{' '}
      +img('img/LC8T4393.jpg')
