include ../../mixins

+article('Traseul D6')

  .lang.lang-ro
    +section('Traseul D6')
      h2 Traseul D6: Sulina – Plaja Sulina
      p.text-indent
        | Traseul are ca obiectiv vizitarea oraşului Sulina, destinaţie situată la vărsarea braţului Sulina în Marea Neagră şi a zonei litoralului marin aferente oraşului. Încă de la prima sa atestare documentară, oraşul Sulina a fost caracterizat ca fiind o aşezare multietnică, un important port cosmopolit ("EUROPOLIS",) unde convieţuiau în armonie naţii din toate colţurile lumii, îndeletnicindu-se cu activităţi comerciale înfloritoare.Sulina poate oferi practicarea turismului heliomarin, fiind localitatea cu cele mai multe zile însorite, dar şi a turismului cultural. Aici se găseşte clădirea fostei Comisii Europene a Dunării (C.E.D.) înfiinţată în anul 1856.#{' '}
      p.text-indent
        | În dreptul clădirii CED este poziţionată borna cu "mila 0”, de la care începe numărătoarea milelor plantate în amonte pe întregul parcurs al Dunării maritime.#{' '}
      p.text-indent
        | Traseul începe cu vizitarea principalelor obiective de interes turistic din oraş:#{' '}
        strong Centrul de Informare#{' '}
        | al Administraţiei Rezervaţiei,#{' '}
        strong casa #{' '}
        | în care a locuit scriitorul român#{' '}
        strong Jean Bart#{' '}
        | (Eugeniu P. Botez), autorul romanului &bdquo;Europolis”,#{' '}
        strong Farul vechi#{' '}
        | construit de C.E.D. în 1870, astăzi muzeu. Traseul continuă pe lângă#{' '}
        strong Cimitirul cosmopolit#{' '}
        | al oraşului care reprezintă o oglindă a trecutului istoric al oraşului înscrisă în monumentele funerare ale cimitirului. Traseul continuă către plaja oraşului situată la circa 3,5 km distanţă de oraş pe malul Mării Negre într-o zonă unde se resimte influenţa apelor dulci ale Dunării.#{' '}
      p.text-indent Traseul are o lungime de circa 3,5 km şi se poate face în circa 2 ore de mers. #{' '}
  .lang.lang-en
    +section('Trail D6')
      h2 Trail D6: Sulina - Sulina Beach
      p The route aims the visiting of Sulina city, destination situated at the flowing point of Sulina Arm into the Black Sea and the marine beach area associated to the city. Since its first documentary statement, Sulina was characterized as a multi-ethnic settlement, an "EUROPOLIS”, a major cosmopolitan port where nations from all over the world lived in harmony, dealing with flourishing commercial activities.#{' '}
      p Sulina can provide the practicing of heliomarine tourism, being the area with the most number of sunny days, but also it can provide cultural tourism. The building of the former European Danube Commission (ECD) established in 1856, is found here.#{' '}
      p
        | In front of the ECD building, is located the "0 miles” milestone, from where starts the counting of the miles planted upstream the Maritime Danube. The route starts with visiting to the following tourist attractions:the#{' '}
        strong  Information Center#{' '}
        | of the Reserve Authority, the house where Romanian writer Jean Bart (Eugeniu P. Botez) lived (author of the novel "Europolis”), the old lighthouse built by E.C.D. in 1870, now a museum. The route continues near the#{' '}
        strong Cosmopolitan Cemetery#{' '}
        | of the city, representing a mirror of the city's past, written on the cemetery funeral monuments. The route continues up to the beach located about 3.5 km from the city, on the Black Sea shore, in an area where Danube’s fresh waters’ influence is felt.#{' '}
      p The route has a length of about 3.5 km and can be done in about 2 hours by foot.#{' '}
