include ../../mixins

+article('Traseul D1')
  .lang.lang-ro
    +section('Traseul D1')
      h2 Traseul D1: Letea (Sfiştofca) – Lacul Nebunu – Letea
      p.text-indent
        | Traseul este propus pentru vizitarea Pădurii Letea - marginea acesteia - aflată în vecinătatea#{' '}
        strong Zonei Strict Protejate "Pădurea Letea”#{' '}
        | şi a Lacului Nebunu. Traseul este accesibil turiştilor care ajung în localităţile#{' '}
        strong Letea, C.A. Rosetti sau Sfiştofca#{' '}
        | ca parte a pachetelor turistice oferite de operatorii de turism..#{' '}
      p.text-indent
        | Pentru vizitatorii sosiţi de la Sulina traseul începe din localitatea Sfiştofca, de unde vizitatorii sunt preluaţi de localnici cu mijloacele de transport specifice zonei: căruţe trase de cai sau mijloace de transport motorizate (tractoare cu remorcă, autoturime de teren). Traseul continuă spre localitatea C.A. Rosetti şi apoi pe drumul spre Periprava, pe marginea#{' '}
        strong Pădurii Letea,#{' '}
        | pe parcursul căruia turiştii se pot opri pentru o scurtă plimbare în zona de pădure aflată în afara zonei de protecţie integrală. Pădurea Letea a fost pusă sub ocrotire încă din anul 1930, ca rezervaţie naturală. Odată cu declararea Rezervaţiei Biosferei Delta Dunării, Pădurea Letea a fost desemnată zonă cu protecţie integrală, accesul fiind permis doar cercetătorilor şi grupurilor specializate, însoţite de reprezentanţi ai Administraţiei Rezervaţiei. La capătul drumului se află#{' '}
        strong localitatea Periprava,#{' '}
        | o localitate tipică de pescari, aşezată pe malul Braţului Chilia. Lângă localitatea Periprava se află#{' '}
        strong Lacul Nebunu,#{' '}
        | obiectivul final al traseului. Lacul este bogat în peşte şi păsări şi prezintă un peisaj de o mare atractivitate.#{' '}
      p.text-indent Traseul are o lungime de circa 32 km şi se poate face în circa 6-7 ore de mers.#{' '}
      +img('img/routeD1.jpg')

  .lang.lang-en
    +section('Trail D1')
      h2 Trail D1: Letea (Sfiştofca) - Nebunu Lake - Letea
      p
        | The route is recommended for visiting Letea Forest - its edges -  situated in the vicinity of#{' '}
        strong Strictly Protected Area "Letea Forest”#{' '}
        | and Nebunu Lake.#{' '}
      p
        | The route is accessible to the tourists who arrive in#{' '}
        strong Letea, C.A. Rosetti or Sfiştofca#{' '}
        | villages, as part of tourists’ packages offered by travel agencies.#{' '}
      p
        | For tourists coming from Sulina, the route begins in Sfiştofca village, where they are taken by locals on means of transportation specific to the area: horse carriages, or motorized vehicles (tractors with trailers, SUVs). The route continues towards C.A. Rosetti, and then on the road to Periprava, on the edge of#{' '}
        strong Letea Forest,#{' '}
        | along which tourists can stop for a short walk in the wood, an area outside the strictly protected area. Letea Forest is under protection since 1930, as a natural reserve. With the declaration of the Danube Delta Biosphere Reserve, Letea Forest was designated as strictly protected area, the access being allowed only to researchers and specialized groups, accompanied by the Reserve Authority agents.#{' '}
      p
        | At the end of the road is Periprava village, a typical fishermen village, located on the bank of Chilia Arm. Near the village is#{' '}
        strong Nebunu Lake,#{' '}
        | the last objective of the route. The lake is rich in fish and birds and presents a scenery of great attractiveness.#{' '}
      p
        | The route has a length of about 32 km and can be traveled in about 6-7 hours by foot.#{' '}
      +img('img/routeD1.jpg')
