include ../../mixins

+article('Traseul D3')
  .lang.lang-ro
    +section('Traseul D3')
      h2 Traseul D3: Murighiol – Lacul Sărături – Murighiol
      p.text-indent
        | Traseul este propus pentru turiştii care vizitează zona#{' '}
        strong Murighiol#{' '}
        | şi se adresează, în primul rând, celor pasionaţi de observarea păsărilor,#{' '}
        strong Lacul Sărături#{' '}
        | constituind un habitat optim pentru diferite specii de păsări - piciorongul, ciocântorsul, raţa cu perucă, raţa cu cap-castaniu, pescăruşul râzător, chira de baltă sau corcodelul negru, fiind protejat în cadrul#{' '}
        strong Zonei Strict Protejate &bdquo;Sărături – Murighiol”.#{' '}
      p.text-indent Traseul începe în localitatea Murighiol şi continuă pe drumul judeţean DJ 222, circa 3 km, până în apropierea lacului şi, apoi, traseul continuă în jurul lacului pe o lungime de circa 9-10 km, cu revenire în drumul judeţean. De-a lungul traseului pot fi făcute popasuri pentru observarea diferitelor specii de păsări găzduite de lac şi împrejurimi, funcţie de sezon. Se recomandă utilizarea echipamentelor adecvate pentru astfel de drumeţii precum şi a celor pentru observarea păsărilor (binocluri sau lunete ornitologice) cu rezultate foarte bune.#{' '}
      p.text-indent Traseul are o lungime de circa 13 km şi se poate face în circa 3-4 ore de mers.#{' '}
      +img('img/routeD3.jpg')

  .lang.lang-en
    +section('Trail D3')
      h2 Trail D3: Murighiol - Sărături Lake - Murighiol
      p
        | The route is proposed for tourists that are visiting#{' '}
        strong  Murighiol #{' '}
        | area and is addressed, mainly, to those passionate for birds watching,#{' '}
        strong Sărături Lake #{' '}
        | being an optimal habitat forvarious speciesof birds: Black-winged Stilt, Avocet, Red-crested Pochard,  Black-headed Gull, Common Tern and Black-necked Grebe, protected under#{' '}
        strong Strictly Protected Area Sărături - Murighiol.#{' '}
      p
        | The route begins in Murighiol and continues on the DJ 222 county road for about 3 km, up to the lake and then it continues around the lake path for about 9-10 km, returning to the county road. Along the route, stops can be made to observe different birds species hosted by the lake and its surroundings, depending on the season.  Appropriate hiking equipment is recommended, together with bird watching devices (binoculars or telescopes), with great results.#{' '}
      p
        | The route has a length of about 13 km and can be done in about 3-4 hours by foot.#{' '}
      +img('img/routeD3.jpg')
