include ../../mixins

+article('Traseul D8')
  .lang.lang-ro
    +section('Traseul D8')
      h2 Traseul D8: Natura Trail (Sf. Gheorghe) 
      p.text-indent
        | Traseul porneşte din localitatea Sf. Gheorghe, punctul de  debarcare nave şi după ce străbate piaţa localităţii continuă pe digul de apărare al localităţii, dealungul Braţului Sf. Gheorghe spre vărsarea acestuia în mare, apoi pe drumul care duce spre malul Mării Negre. Dealungul traseului poate fi admirat peisajul localităţii care se înnoieşte permanent prin construcţii noi, cele mai multe folosind tradiţia acoperişurilor din stuf, dar şi peisajul natural al zonei de întâlnire al apelor Dunării cu cele ale Mării Negre, întâlnire care creează habitate de apă salmastră şi care atrag foarte multe păsări, în special pescăruşi, atraşi de abundenţa de hrană din această zonă. Pe malul Mării Negre se desfăşoară o plajă lungă care continuă până la Sulina, joasă şi nu foarte lată şi formată din nisip fin aluvionar în apropierea gurilor Dunării şi cochilifer pe măsură ce creşte distanţa de apele fluviului, străjuită spre vest de arbuşti de cătină albă#{' '}
        em (Hippophae rhamnoides). #{' '}
        | Traseul are o lungime de circa 10 km şi se poate face în circa 2-3 ore de mers.#{' '}
      +img('img/routeD8.jpg')

  .lang.lang-en
    +section('Trail D8')
      h2 Trail D8: Nature Trail (St. Gheorghe)
      p
        | The route starts from the St. Gheorghe village, the point of ships debarkation and after crossing the village market, it continues on the village defend dam, along the St. Gheorghe's arm, up to its mouth to the sea, then on the road towards the Black Sea. Along the route you may admire the village scenery, which is constantly updated with new construction, most using traditional reed roofs, andthe natural landscape of the area where the water of the Danube meets the Black Sea, creating brackish water habitats which attract many birds, especially gulls, attracted by the abundance of food in this area. Along the Black Sea coast there is a long beach which continues up to Sulina, low and not very wide, consists of fine alluvial sand near to the mouth of the Danube and with seashells as the distance from the river increases, bordered to the West of the Sea Buckthorn (#{' '}
        em Hippophae rhamnoides#{' '}
        | ). The trail has a length of about 10 km and can be covered in about 2-3 hours by foot.#{' '}
      +img('img/routeD8.jpg')
