include ../../mixins

+article('Traseul D2')
  .lang.lang-ro
    +section('Traseul D2')
      h2 Traseul D2: Caraorman – Pădurea Caraorman 
      p.text-indent
        | Traseul reprezintă o ofertă pentru vizitatorii ajunşi în#{' '}
        strong satul Caraorman#{' '}
        | din Crişan, Sulina, Sf. Gheorghe sau pe unul din traseele care includ zona Caraorman şi cuprinde vizitarea aşezării locuită de o comunitate de ucrainieni, cu influenţe vizibile în arhitectura caselor, dunele de nisip mobile de la marginea satului cu fauna şi flora specifice zonelor mlăştinoase cu lebede şi gâşte de vară, nagâţi, pelicani, otrăţelul de baltă de la marginea satului pentru vizitarea cărora s-a amenajat o potecă de vizitare/învăţare.#{' '}
        strong Pădurea Caraorman #{' '}
        | principala atracţie turistică este, ca şi Pădurea Letea,#{' '}
        strong zonă de protecţie integrală,#{' '}
        | care poate fi vizitată numai în scopuri ştiinţifice. Zona înconjurătoare care poate fi vizitată şi de turişti, păstrează atractivitate prin exemplare impresionante de plop, frasin şi stejar, arbuşti. Printre alte specii de păsări, pădurea găzduieşte, îndeosebi, vulturul codalb şi corbul.#{' '}
      p.text-indent Traseul are o lungime de circa 10 km şi se poate face în circa 2-3 ore de mers. #{' '}
      +img('img/routeD2.jpg')

  .lang.lang-en
    +section('Trail D2')
      h2 Trail D2: Caraorman – Caraorman Forest
      p
        | The route is an offer for visitors arriving in the village of#{' '}
        strong Caraorman#{' '}
        | from Crişan, Sulina and St. Gheorghe, or by one of the routes which includes Caraorman area, and include the visit of the settlement, inhabited by an Ukrainians community, with influences visible in the houses architecture, the mobile sand dunes at the edge of the village with the fauna and flora specific for wetlands, with swans, Grey Lag Geese, Lapwings, pelicans and bladderwort, that can be seen at  the edge of the village, for which it was arranged a special visiting and learning path. The#{' '}
        strong Caraorman Forest#{' '}
        | is the main tourist attraction, as Letea,#{' '}
        strong strictly protected area, #{' '}
        | which can be accessed only for scientific purposes. The surrounding area can be visited by tourists, being attractive by impressive specimens of poplar, ash and oak trees. Among other species of birds, the forest hosts, especially White-tailed Eagle and the Raven. The trail has a length of about 10 km and can be covered in about 2-3 hours.#{' '}
      +img('img/routeD2.jpg')
