mixin do-stuff()
  p stuff!

mixin article()
  article
    if block
      block

mixin section()
  section
    if block
      block

mixin img(source, fullHeight)
  - var classes = fullHeight ? 'full-height' : '';
  .img(class=classes)
    .img-container
      img(src='assets/' + source)

mixin submenu()
  ul.submenu
    if block
      block

mixin template-link(linkTarget, linkTitle)
  a(href=linkTarget, data-title=linkTitle).link.template-link
    if block
      block

mixin submenu-item(linkTarget, T, en, ro, titleEn, titleRo)
  - ro = ro || en;
  - titleEn = titleEn || en;
  - titleRo = titleRo || ro;
  li
    - var translatedTitle = T.span({ en: titleEn, ro: titleRo });
    - var translated = T.span({ en: en, ro: ro });
    a(href=linkTarget, data-title=translatedTitle).link.template-link
      .submenu-container
        .submenu-title
          != translated
        if block
          block

mixin submenu-page-id(id)
  span(style='display: none', data-id=id).submenu-pageid

mixin submenu-caption(T, en, ro)
  - ro = ro || en;
  .submenu-caption
    != T.span({ en: en, ro: ro })

mixin maplink(posY, posX, name)
  a(href='map://' + posY + '/' + posX, data-name=name).link.map-link
    if block
      block

mixin mapicon
  i.fa.fa-map-marker

mixin maplabel(visible)
  - var style = '';
  - if (visible === false) {
  -   style = 'display: none';
  - }
  span(style=style).map-label
    if block
      block
